In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import spearmanr
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from random import randrange
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
from sklearn.metrics import log_loss
from datetime import datetime
import autosklearn.classification
from sklearn.metrics import ConfusionMatrixDisplay
from joblib import dump
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest
import sys
sys.path.append('/home/krzysiek/drivendata/drivendata_competitions/functions')
from eda_automations import *
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('https://s3.amazonaws.com/drivendata/data/7/public/4910797b-ee55-40a7-8668-10efd5c1b960.csv')

In [3]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [4]:
labels_data = pd.read_csv('https://github.com/KCristopher/drivendata_competitions/raw/main/data/training_set_labels.csv')

In [5]:
labels_data.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

The data contains the info about waterpoints in Tanzania. Each observations correspond to some waterpoint and is described in terms of the variables such as the height at which the waterpoint is located, type of source of the water (for example rain or spring) or the institution which built the well.

We hope that we would be able to discern which waterponits are functional, which are not, and which needs to be repaired by examining the levels of all these different variables.

In [6]:
labels_data.index = labels_data['id']
del labels_data['id']

In [7]:
labels_data.head(3)

      status_group
id
69572   functional
8776    functional
34310   functional

In [8]:
y = labels_data.copy()
X = df.copy()

Splitting the data into training and testing sets :

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

# Exploring training data

<center>Checking the general structure of the data, data types and  missing values :</center>

In [10]:
summarize_df(X_train)

Glance at the data :

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
3607,454,50.0,2013-02-27,Dmdd,2092,DMDD,35.426020,-4.227446,Narmo,0,...,per bucket,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
50870,510,0.0,2011-03-17,Cmsr,0,Gove,35.510074,-5.724555,Lukali,0,...,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
20413,14146,0.0,2011-07-10,Kkkt,0,KKKT,32.499866,-9.081222,Mahakama,0,...,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,other,other
52806,47410,0.0,2011-04-12,NaN,0,NaN,34.060484,-8.830208,Shule Ya Msingi Chosi A,0,...,monthly,soft,good,insufficient,insufficient,river,river/lake,surface,communal standpipe,communal standpipe
50091,1288,300.0,2011-04-05,Ki,1023,Ki,37.032690,-6.040787,Kwa Mjowe,0,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,other,other

Data types, dimension of the data :

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47520 entries, 3607 to 56422
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     47520 non-null  int64
 1   amount_tsh             47520 non-null  float64
 2   date_recorded          47520 non-null  object
 3   funder                 44644 non-null  object
 4   gps_height             47520 non-null  int64
 5   installer              44631 non-null  object
 6   longitude              47520 non-null  float64
 7   latitude               47520 non-null  float64
 8   wpt_name               47520 non-null  object
 9   num_private            47520 non-null  int64
 10  basin                  47520 non-null  object
 11  subvillage             47224 non-null  object
 12  region                 47520 non-null  object
 13  region_code            47520 non-null  int64
 14  district_code          47520 non-null  int64
 15  lga                    47520 non-null  object
 16  ward                   47520 non-null  object
 17  population             47520 non-null  int64
 18  public_meeting         44831 non-null  object
 19  recorded_by            47520 non-null  object
 20  scheme_management      44418 non-null  object
 21  scheme_name            24997 non-null  object
 22  permit                 45081 non-null  object
 23  construction_year      47520 non-null  int64
 24  extraction_type        47520 non-null  object
 25  extraction_type_group  47520 non-null  object
 26  extraction_type_class  47520 non-null  object
 27  management             47520 non-null  object
 28  management_group       47520 non-null  object
 29  payment                47520 non-null  object
 30  payment_type           47520 non-null  object
 31  water_quality          47520 non-null  object
 32  quality_group          47520 non-null  object
 33  quantity               47520 non-null  object
 34  quantity_group         47520 non-null  object
 35  source                 47520 non-null  object
 36  source_type            47520 non-null  object
 37  source_class           47520 non-null  object
 38  waterpoint_type        47520 non-null  object
 39  waterpoint_type_group  47520 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 14.9+ MB

None

Missing values across variables :

scheme_name              22523
scheme_management         3102
installer                 2889
funder                    2876
public_meeting            2689
permit                    2439
subvillage                 296
management_group             0
waterpoint_type              0
extraction_type              0
extraction_type_group        0
source_class                 0
extraction_type_class        0
management                   0
source_type                  0
source                       0
payment_type                 0
water_quality                0
construction_year            0
quality_group                0
quantity                     0
quantity_group               0
payment                      0
id                           0
amount_tsh                   0
recorded_by                  0
population                   0
ward                         0
lga                          0
district_code                0
region_code                  0
region                       0
basin                        0
num_private                  0
wpt_name                     0
latitude                     0
longitude                    0
gps_height                   0
date_recorded                0
waterpoint_type_group        0
dtype: int64

Missing values - % of the data :

scheme_name              47.40
scheme_management         6.53
installer                 6.08
funder                    6.05
public_meeting            5.66
permit                    5.13
subvillage                0.62
management_group          0.00
waterpoint_type           0.00
extraction_type           0.00
extraction_type_group     0.00
source_class              0.00
extraction_type_class     0.00
management                0.00
source_type               0.00
source                    0.00
payment_type              0.00
water_quality             0.00
construction_year         0.00
quality_group             0.00
quantity                  0.00
quantity_group            0.00
payment                   0.00
id                        0.00
amount_tsh                0.00
recorded_by               0.00
population                0.00
ward                      0.00
lga                       0.00
district_code             0.00
region_code               0.00
region                    0.00
basin                     0.00
num_private               0.00
wpt_name                  0.00
latitude                  0.00
longitude                 0.00
gps_height                0.00
date_recorded             0.00
waterpoint_type_group     0.00
dtype: float64

In [11]:
codes = [c for c in X_train.columns if 'code' in c]
codes

['region_code', 'district_code']

<center>Getting numeric summaries of the data</center>

In [12]:
summarize_numeric_data(X_train, exclude = ['id'] + codes)

The correlation between the variables in the dataset :

,amount_tsh,gps_height,longitude,latitude,num_private,population,construction_year
amount_tsh,1.00,0.07,0.02,-0.05,0.00,0.01,0.06
gps_height,0.07,1.00,0.15,-0.04,0.01,0.13,0.66
longitude,0.02,0.15,1.00,-0.43,0.02,0.09,0.40
latitude,-0.05,-0.04,-0.43,1.00,0.01,-0.02,-0.25
num_private,0.00,0.01,0.02,0.01,1.00,0.00,0.03
population,0.01,0.13,0.09,-0.02,0.00,1.00,0.26
construction_year,0.06,0.66,0.40,-0.25,0.03,0.26,1.00

Descriptive statistics of numeric data :

,amount_tsh,gps_height,longitude,latitude,num_private,population,construction_year
count,47520.00,47520.00,47520.00,47520.00,47520.00,47520.00,47520.00
mean,322.05,668.75,34.09,-5.71,0.50,179.53,1303.35
std,3200.62,692.97,6.54,2.94,13.25,472.77,950.76
min,0.00,-63.00,0.00,-11.65,0.00,0.00,0.00
25%,0.00,0.00,33.08,-8.53,0.00,0.00,0.00
50%,0.00,370.00,34.91,-5.02,0.00,25.00,1986.00
75%,20.00,1320.00,37.18,-3.33,0.00,213.00,2004.00
max,350000.00,2770.00,40.35,-0.00,1776.00,30500.00,2013.00

In [13]:
look_at_variables_values(X_train)

Unique values from id, limited to 30

17336    24344
15468    14218
32413    48749
27565    70267
47260    12539
12429    12172
46156    21636
36722    45373
4853      2703
43873     4902
44417    37025
46197    43243
1823     67090
14034     8206
39076    34323
20730    58851
5377     27389
8354     19298
43324    13613
32890    45907
15429    34583
15812    11019
24980    58404
46270    65603
23733    48734
35471    36280
9956     30038
6538     63187
16215    40011
13122    37547
dtype: int64


Unique values from amount_tsh, limited to 30

26       400.0
33       700.0
62     30000.0
19        20.0
17     10000.0
8       1000.0
89      5400.0
57     70000.0
6        500.0
42      7200.0
37     12000.0
63      4500.0
75     60000.0
67       350.0
59      6500.0
61     11000.0
21       200.0
92    250000.0
22       600.0
24      5000.0
91       900.0
38     25000.0
95      1400.0
13      1500.0
78      5500.0
29         6.0
90    100000.0
55        60.0
12        40.0
2        300.0
dtype: float64


Unique values from date_recorded, limited to 30

52     2013-01-15
98     2013-01-25
132    2013-03-30
16     2011-03-14
82     2011-08-04
230    2011-08-18
85     2013-01-14
283    2012-10-06
194    2011-07-23
190    2011-04-02
297    2013-01-11
25     2013-02-03
218    2011-01-03
323    2012-12-24
199    2013-03-15
315    2011-09-18
302    2012-12-18
252    2013-12-02
226    2013-03-10
63     2011-04-18
246    2013-03-12
349    2011-09-23
231    2011-02-02
159    2012-10-28
2      2011-07-10
66     2012-10-23
78     2013-02-26
101    2013-04-04
120    2013-02-13
156    2011-08-13
dtype: object


Unique values from funder, limited to 30

967     African Realief Committe Of Ku
512                Rusumo Game Reserve
1611                     Tina/africare
893                               Tove
906                  Dwe/bamboo Projec
659             National Rural And Hfa
788                           Goldmain
1580                           Jumanne
64                                 Jbg
149                            African
1189                        Seif Ndago
1619                           Mzee Sh
685                            Enyueti
592                              Luthe
1376                Bonite Bottles Ltd
1258                  Thomasi Busigaye
1341                         Greineker
1451                      Siza Mayengo
206             Dae Yeol And Chae Lynn
319           Tabora Municipal Council
806                      Legeza Legeza
1446                           Nchagwa
1216                            Panone
266                             Tanapa
736                             Rished
1500                   Motiba Manyanya
821                          Villegers
1317                     Peter Ngereka
810                Village Contributio
1301                            Africa
dtype: object


Unique values from gps_height, limited to 30

1660    1920
2341    2345
1159     422
2082     -52
1285     826
139     1288
1513     -28
1582    1254
161     1209
771     1852
337     1465
2085    1918
1714    1131
154     1601
883      938
188      524
993      807
975     2013
17      1624
842     1655
476      -50
710     1261
935     1251
2386    2408
1309     243
1731    2122
417      469
648     1688
2316     649
1795    1127
dtype: int64


Unique values from installer, limited to 30

1913                  Mwamvita Rajabu
1356                               MW
1798                          Jumanne
586                maendeleo ya jamii
1741                     TASSAF/ TCRS
133                     RCchurch/CEFA
1719                          WASHIMA
619                        Nampapanga
490          Roman Cathoric -Kilomeni
951                               DWR
806                    WEDECO/WESSONS
853                 Centra Government
1567                       Individual
364                        KILI WATER
1407                            UYOGE
419                  JANDU PLUMBER CO
1874                            Primo
1837                             Theo
1512                        RC church
183                        WORLD BANK
775                           Tanesco
1859                             RDWS
1493                     Bridge north
561                             PATUU
964                                Ju
698                               WFP
1694    Halmashauri/Quick win project
923                         MLAKI  CO
305                    Saleh Zaharani
199                  CIPRO/Government
dtype: object


Unique values from longitude, limited to 30

41529    30.668297
8313     34.570107
25240    37.985568
21089    35.624224
5597     31.427795
35422    38.242831
31407    34.680541
38868    34.317532
31720    34.812145
36976    37.571752
33986    37.524699
33944    38.127073
16143    34.066645
22502    39.013454
20674    34.040321
22159    36.267376
28368    30.854895
21393    34.557464
6136     39.723233
31754    38.068894
8999     34.904472
30036    34.645524
5654     38.342600
4934     34.847178
41942    38.673739
36652    35.457664
4850     36.995730
3923     36.990849
41625    35.526716
44270    37.244022
dtype: float64


Unique values from latitude, limited to 30

30739    -8.646910
9122     -3.289816
34852    -5.922071
13849    -1.184544
19271    -7.890404
31378    -8.901430
35552    -8.933027
11573    -4.964868
2584     -3.327416
32851    -5.563180
44944    -7.027634
510      -7.793234
25463    -6.900409
22413   -10.245639
38195    -3.127522
34212    -6.525933
12333    -3.338687
9166     -6.098618
26482    -9.238668
17755    -1.109779
33766    -8.935157
17313    -5.345462
21589    -9.492070
23048    -8.776140
4639    -11.513231
20861    -4.758443
36935    -5.159745
19867    -9.238529
5196     -4.342170
781      -1.887667
dtype: float64


Unique values from wpt_name, limited to 30

12946             Kwa Mzee Chikundu
18439                 Gati La Ngumo
5779                          Itula
12539                    Barabara 8
27462     Ofisi Ya Kijiji Mji Mwema
28363                     Shikule A
5503                        Naebugo
24137                   Mikiroshini
6229         Chiseyu Primary School
12121                  Kwa Nachenga
29961          Kwa Yahana Mwanahele
24702                     Kwa Mtana
16484                  Kwa Mzee Six
2244                   Kwa Nangurue
17123           Kwa Eliuta Mbilinyi
21591              Kwa Daudi Bakari
7081                         Morisi
25033    Shule Ya Makundusi[Zamani]
255                        Mtumbula
17546              Kwa Jacob Andrea
10889                      Mwanjila
5805                           Raba
9898                      Utamaduni
747                     Kwa Nesford
18146                       Kabughu
6143              Kwa Neto Mtimbuka
1441                    Zahanayi Rc
18789                    Kwa Nizamu
25235                      Kwa Mape
10535                          Noel
dtype: object


Unique values from num_private, limited to 30

0        0
50      62
48      24
54     672
7       20
37      22
34     160
36      93
51     136
16      38
12       1
31     280
28     111
40    1402
20     755
44       9
41      94
11      45
39     120
29      34
45      14
21      39
17       8
15      11
1       47
55     698
18     102
9       15
10      80
30      41
dtype: int64


Unique values from basin, limited to 30

3                Wami / Ruvu
4              Lake Victoria
2                     Rufiji
7                 Lake Nyasa
5            Lake Tanganyika
6                    Pangani
1                 Lake Rukwa
0                   Internal
8    Ruvuma / Southern Coast
dtype: object


Unique values from subvillage, limited to 30

16373    Nyakafundikwa A
15200             Ulihii
11034         Mkunguni B
10771            Guanaya
14953        Machinjiono
4727               Kindi
6107            Kiumbeni
3177            Mikomani
3993           Kitunga C
8212             Nawav A
1723              Mapila
15497      Mnivata Mjini
12249           Kinsengo
11613             Kidibu
6313        Mtaa Wa Kati
14216         Namatunu 1
1133           Mwadugulu
14439           Hungwe A
13296            Sanga B
1524             Kichuni
9003           Hailosi A
5051            Mwamasha
10164         Nyarusiaga
9686           Nyakitono
8878          Mwamuringa
14486            Libonde
12219           Bulimbwe
15979           Chamkara
5874            Shangiti
14865          Kanyaga E
dtype: object


Unique values from region, limited to 30

15           Ruvuma
3          Morogoro
17      Kilimanjaro
9            Arusha
20             Mara
13            Rukwa
7             Tanga
12           Tabora
18            Lindi
2             Mbeya
16    Dar es Salaam
10           Kagera
19           Mtwara
4            Mwanza
11          Singida
0           Manyara
5         Shinyanga
8            Iringa
1            Dodoma
6            Kigoma
14            Pwani
dtype: object


Unique values from region_code, limited to 30

9      2
18     3
10    18
23    90
21    20
19     8
15     6
2     12
12    14
22    24
26    40
5     17
25    80
13    15
16    10
17     7
14    60
4     19
7      4
24     9
1      1
20    99
8     11
0     21
6     16
11    13
3      5
dtype: int64


Unique values from district_code, limited to 30

18     0
5      4
9     30
0      1
13    13
3      2
19    67
8     53
17    80
12    23
2      7
6      5
16    62
7      8
1      6
4      3
10    43
14    60
11    33
15    63
dtype: int64


Unique values from lga, limited to 30

124          Nyamagana
7            Kilombero
55             Mpwapwa
89             Bukombe
57            Mkuranga
62        Kigoma Rural
101             Newala
114            Handeni
73          Tandahimba
96     Shinyanga Urban
91               Mafia
40              Iramba
29              Mbinga
79             Kishapu
78              Kondoa
76             Tunduru
108       Tabora Urban
32                 Hai
12             Bariadi
30              Kwimba
6                Maswa
14             Misenyi
122       Arusha Urban
54              Urambo
74        Songea Rural
4               Kilosa
95               Mbulu
25              Mpanda
92               Nkasi
110             Hanang
dtype: object


Unique values from ward, limited to 30

2034             Maskati
1265    Biharamulo Urban
1056             Madanga
294               Busawe
862                 Musa
578       Siha Kaskazini
1556         Nyakasungwa
676               Panzuo
1684        Mpanda Ndogo
633           Mwananyili
653             Mwantini
869             Mwingiro
1318           Kitomondo
1734              Ilonga
519              Mtowisa
833              Ndumbwe
666               Runazi
1697             Kiomboi
549        Mtego wa Noti
501              Kasamwa
449                Isuto
1586        Kiranjeranje
2020            Kapilula
2075              Mkumbi
664            Somangira
747              Napacho
1821          Mwalusembe
526                Mombo
454              Mbarika
942                 Kahe
dtype: object


Unique values from population, limited to 30

159     436
153      55
371    1570
446     355
670     298
525     584
905    1306
199     567
515     703
198     145
875    2314
652    2750
608    1054
1         0
519     376
799     624
215     356
174     142
527     749
564      84
917     517
864     588
386     663
788    1432
510     181
75      161
910     836
218     714
968    2250
239     236
dtype: int64


Unique values from public_meeting, limited to 30

1    False
2      NaN
0     True
dtype: object


Unique values from recorded_by, limited to 30

0    GeoData Consultants Ltd
dtype: object


Unique values from scheme_management, limited to 30

4      Water authority
10               Other
3                  NaN
0          Water Board
11               Trust
1                  VWC
12                None
7                  WUA
8     Private operator
5           Parastatal
6                  SWC
2                  WUG
9              Company
dtype: object


Unique values from scheme_name, limited to 30

300                                       Bug
821                    Senashida water supply
863                                 upper Ruv
1002                      Ekenywa pipe scheme
404                               BL Siha Sec
1924        Namindondi/mtendachi water supply
1273                                    PADEP
1449              Tove mtwango water supply s
1499                         Doe water supply
1513                     SAUWASA water supply
995                                      Kiku
325                 Shirimatunda water Supply
1600                 Lake Natron water scheme
2119                            PADEP(MIFUGO)
958            Shinyanga shallow well project
1888                       Sanga piped Scheme
1647                        Songota pipe line
533                  Mradi wa maji wa mahanje
26                        Hivuga Water Supply
654                       Nagoma water supply
1008                  Kigonigoni Water Supply
1164    Nyaruyoba/Kasaka gravity water supply
2030           Kamatendeli no 2 spring source
28                                       Iduo
1802                                BL Matadi
1416                                     Nkul
482                              Shallow well
2313            Mradi wa maji wa maji sikonge
273                                    Lumage
1110                                    Ilolo
dtype: object


Unique values from permit, limited to 30

2      NaN
1    False
0     True
dtype: object


Unique values from construction_year, limited to 30

20    1990
10    1995
12    1992
32    1964
18    1984
46    1981
13    1970
26    1993
17    1971
25    1960
11    1986
29    1979
21    2002
9     2003
44    1983
41    1987
2     1997
31    1996
5     2004
27    1989
50    1969
30    1965
0     1998
52    1973
4     2008
37    1980
38    1991
8     1985
49    1963
24    1978
dtype: int64


Unique values from extraction_type, limited to 30

3                   nira/tanira
9                      windmill
14               india mark iii
12            other - play pump
15                         cemo
17    other - mkulima/shinyanga
11               other - swn 81
16                       walimi
0                       gravity
10            other - rope pump
4                        swn 80
1                 india mark ii
5                          mono
13                       climax
7                       afridev
2                         other
6                   submersible
8                           ksb
dtype: object


Unique values from extraction_type_group, limited to 30

8        wind-powered
5                mono
7             afridev
3         nira/tanira
12     india mark iii
6         submersible
2               other
10     other handpump
11    other motorpump
4              swn 80
1       india mark ii
0             gravity
9           rope pump
dtype: object


Unique values from extraction_type_class, limited to 30

2           other
0         gravity
3       motorpump
6       rope pump
1        handpump
4     submersible
5    wind-powered
dtype: object


Unique values from management, limited to 30

9                other
1                  vwc
3     private operator
2                  wug
7              unknown
6                  wua
11               trust
5       other - school
0          water board
4           parastatal
8              company
10     water authority
dtype: object


Unique values from management_group, limited to 30

0    user-group
2    parastatal
3         other
4       unknown
1    commercial
dtype: object


Unique values from payment, limited to 30

6                  unknown
1                never pay
3    pay when scheme fails
4                    other
2              pay monthly
5             pay annually
0           pay per bucket
dtype: object


Unique values from payment_type, limited to 30

4         other
2       monthly
3    on failure
1     never pay
0    per bucket
5      annually
6       unknown
dtype: object


Unique values from water_quality, limited to 30

0                  soft
2               unknown
5                 milky
6       salty abandoned
3              coloured
7    fluoride abandoned
4              fluoride
1                 salty
dtype: object


Unique values from quality_group, limited to 30

3     colored
0        good
4    fluoride
2     unknown
1       salty
5       milky
dtype: object


Unique values from quantity, limited to 30

3             dry
2        seasonal
1          enough
4         unknown
0    insufficient
dtype: object


Unique values from quantity_group, limited to 30

4         unknown
3             dry
1          enough
2        seasonal
0    insufficient
dtype: object


Unique values from source, limited to 30

8                   other
6    rainwater harvesting
0                  spring
9                 unknown
4                hand dtw
7                    lake
5                     dam
1            shallow well
2                   river
3             machine dbh
dtype: object


Unique values from source_type, limited to 30

2              river/lake
5    rainwater harvesting
3                borehole
1            shallow well
6                   other
4                     dam
0                  spring
dtype: object


Unique values from source_class, limited to 30

0    groundwater
2        unknown
1        surface
dtype: object


Unique values from waterpoint_type, limited to 30

1                      hand pump
0             communal standpipe
4                improved spring
5                  cattle trough
3    communal standpipe multiple
2                          other
6                            dam
dtype: object


Unique values from waterpoint_type_group, limited to 30

0    communal standpipe
4         cattle trough
5                   dam
1             hand pump
3       improved spring
2                 other
dtype: object

We can see that there is one entry of 0 in the column construction_year.

In [14]:
X_train[X_train.construction_year == 0].shape

(16503, 40)

In [15]:
X_train.columns.tolist()

['id',
 'amount_tsh',
 'date_recorded',
 'funder',
 'gps_height',
 'installer',
 'longitude',
 'latitude',
 'wpt_name',
 'num_private',
 'basin',
 'subvillage',
 'region',
 'region_code',
 'district_code',
 'lga',
 'ward',
 'population',
 'public_meeting',
 'recorded_by',
 'scheme_management',
 'scheme_name',
 'permit',
 'construction_year',
 'extraction_type',
 'extraction_type_group',
 'extraction_type_class',
 'management',
 'management_group',
 'payment',
 'payment_type',
 'water_quality',
 'quality_group',
 'quantity',
 'quantity_group',
 'source',
 'source_type',
 'source_class',
 'waterpoint_type',
 'waterpoint_type_group']

In [16]:
cols_subset = ['ward',
 'population',
 'public_meeting',
 'recorded_by',
 'scheme_management',
 'scheme_name',
 'permit',
 'construction_year',
 'extraction_type',
 'extraction_type_group',
 'extraction_type_class',
 'management',
 'management_group',
 'payment',
 'payment_type',
 'water_quality']

In [17]:
X_train[X_train.construction_year == 0][cols_subset].sample(n = 100).head(50)

,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality
55132,Karitu,0,False,GeoData Consultants Ltd,VWC,NaN,False,0,other,other,other,vwc,user-group,never pay,never pay,soft
38877,Ikolo,0,True,GeoData Consultants Ltd,VWC,Ngana water supplied scheme,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
50801,Sumve,0,True,GeoData Consultants Ltd,VWC,JUWAMASU,True,0,mono,mono,motorpump,vwc,user-group,pay per bucket,per bucket,soft
33382,Badi,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,swn 80,swn 80,handpump,wug,user-group,other,other,soft
25847,Chipanga,0,True,GeoData Consultants Ltd,VWC,Chip,True,0,mono,mono,motorpump,vwc,user-group,pay per bucket,per bucket,soft
7852,Nyabusozi,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
39859,Mwakilyambiti,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft
48701,Bunamhala,0,NaN,GeoData Consultants Ltd,WUG,NaN,False,0,other,other,other,wug,user-group,unknown,unknown,unknown
2598,Ikindwa,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,pay when scheme fails,on failure,soft
37845,Kiloleli,0,True,GeoData Consultants Ltd,VWC,Mradi wa maji wa Kiloleli,True,0,other,other,other,vwc,user-group,never pay,never pay,soft
38319,Maji ya Chai,130,True,GeoData Consultants Ltd,VWC,Maji ya Chai gravity water supply,False,0,gravity,gravity,gravity,unknown,unknown,unknown,unknown,soft
13713,Chabutwa,0,True,GeoData Consultants Ltd,Water authority,ADP Simbo,False,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,salty
54892,Ruanda,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,nira/tanira,nira/tanira,handpump,vwc,user-group,pay when scheme fails,on failure,soft
6951,Madibira,0,True,GeoData Consultants Ltd,WUA,NaN,True,0,gravity,gravity,gravity,wua,user-group,pay annually,annually,soft
48529,Kagoma,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
1770,Wotta,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,other,other,other,vwc,user-group,never pay,never pay,soft
11820,Iyula,0,False,GeoData Consultants Ltd,VWC,NaN,False,0,nira/tanira,nira/tanira,handpump,vwc,user-group,pay when scheme fails,on failure,soft
14328,Vumilia,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,afridev,afridev,handpump,vwc,user-group,never pay,never pay,soft
29622,Kadoto,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,pay when scheme fails,on failure,soft
19267,Tinde,0,True,GeoData Consultants Ltd,WUG,NaN,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,soft
9827,Lufingo,0,True,GeoData Consultants Ltd,VWC,S,NaN,0,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft
43646,Nata,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,afridev,afridev,handpump,vwc,user-group,pay when scheme fails,on failure,soft
54963,Itunduru,0,True,GeoData Consultants Ltd,Water authority,World Bank,True,0,mono,mono,motorpump,vwc,user-group,unknown,unknown,unknown
15318,Sakasaka,0,True,GeoData Consultants Ltd,WUG,None,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,soft
4665,Itinje,0,True,GeoData Consultants Ltd,WUG,None,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,salty
40111,Kasamwa,0,True,GeoData Consultants Ltd,VWC,Chanama,True,0,india mark ii,india mark ii,handpump,vwc,user-group,pay monthly,monthly,soft
55680,Mwaya,0,True,GeoData Consultants Ltd,VWC,Sinyanga water supplied sch,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
21705,Isongole,0,True,GeoData Consultants Ltd,VWC,I,NaN,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
6406,Kambasegese,0,True,GeoData Consultants Ltd,VWC,K,NaN,0,gravity,gravity,gravity,vwc,user-group,unknown,unknown,soft
54762,Dakama,0,NaN,GeoData Consultants Ltd,WUG,NaN,False,0,gravity,gravity,gravity,wug,user-group,other,other,soft
58757,Matomondo,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,other,other,other,vwc,user-group,never pay,never pay,soft
17356,Zagayu,0,False,GeoData Consultants Ltd,WUG,NaN,False,0,swn 80,swn 80,handpump,wug,user-group,never pay,never pay,soft
28816,Nyabubinza,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft
44486,Chinamili,0,False,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,other,other,salty abandoned
17200,Mbugani,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,submersible,submersible,submersible,vwc,user-group,pay per bucket,per bucket,soft
36409,Shishiyu,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,salty
37037,Duga,1,True,GeoData Consultants Ltd,VWC,Borehole,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,salty
28492,Kyimo,0,True,GeoData Consultants Ltd,VWC,M,NaN,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
50677,Igurusi,0,True,GeoData Consultants Ltd,WUA,NaN,True,0,nira/tanira,nira/tanira,handpump,wua,user-group,never pay,never pay,soft
36116,Ntobeye,0,True,GeoData Consultants Ltd,VWC,Muruseno spring source,False,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
36808,Murusagamba,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,milky
6928,Rugu,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft
21115,Luhundwa,0,True,GeoData Consultants Ltd,VWC,Ikuy,True,0,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft
26517,Hombolo,0,True,GeoData Consultants Ltd,VWC,Homb,False,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
31913,Madibira,0,True,GeoData Consultants Ltd,WUA,NaN,True,0,gravity,gravity,gravity,wua,user-group,never pay,never pay,soft
49671,Ushirombo,0,NaN,GeoData Consultants Ltd,WUG,NaN,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,unknown,unknown,soft
15995,Buchambi,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,other,other,other,wug,user-group,pay when scheme fails,on failure,soft
42965,Ng'ambo,0,False,GeoData Consultants Ltd,Other,Mradi wa maji wa Ng`ambo,True,0,other,other,other,other,other,pay per bucket,per bucket,soft
24901,Runzewe,0,True,GeoData Consultants Ltd,WUG,NaN,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,unknown,unknown,soft
37235,Masumbwe,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,unknown,unknown,unknown

In [53]:
def count_values(df, value):
    """
    Returns a pandas DataFrame with the names of the original features in the index and the number of
    occurrences of the value as the values of the first column and the same as the percentage of all
    observations in the second column.

    If the passed value is boolean, compares with boolean values in the DataFrame. If the passed value
    is a string, compares with object (string) values in the DataFrame. Otherwise, only compares with
    values of the same data type.

    Parameters:
    -----------
    df: pandas DataFrame.

    value : str / int / float / bool.
        The value to be counted.

    Returns:
    --------
    pandas DataFrame.
    """

    if isinstance(value, bool):
        value_mask = df.apply(lambda x: isinstance(x[0], bool), axis=0)
    elif isinstance(value, str):
        value_mask = df.dtypes == 'object'
    elif isinstance(value, int):
        value_mask = df.dtypes == 'int64'
    elif isinstance(value, float):
        value_mask = df.dtypes == 'float64'
    else:
        raise TypeError("Input value must be of type bool, str, int, or float.")

    count_series = df.loc[:, value_mask].eq(value).sum().sort_values(ascending=False)
    percent_series = count_series / len(df) * 100
    percent_series = percent_series.round(1)

    data = {
        f"Count of {value}": count_series,
        f"{value}'s as % of Total": percent_series
    }
    result_df = pd.DataFrame(data)
    result_df.index.name = 'Feature'
    result_df.sort_values(by=f"Count of {value}", ascending=False, inplace=True)

    return result_df[result_df['Count of {}'.format(value)] > 0]

In [47]:
X_train[['permit', 'scheme_management']]

      permit scheme_management
3607    True       Water Board
50870   True               VWC
20413  False               VWC
52806   True               VWC
50091   True               VWC
...      ...               ...
54343   True       Water Board
38158  False               VWC
860    False  Private operator
15795   True               WUG
56422   True           Company

[47520 rows x 2 columns]

In [20]:
X_train.permit.iloc[0] == True

True

<center>Examining potentially not obvious missing values</center>

In [65]:
count_values(df = X_train, value = 0)

                   Count of 0  0's as % of Total
Feature
num_private             46903               98.7
population              17048               35.9
construction_year       16503               34.7
gps_height              16275               34.2
district_code              19                0.0
id                          1                0.0

In [67]:
count_values(df = X_train, value = '-')

           Count of -  -'s as % of Total
Feature
installer           3                0.0

In [79]:
X_train.num_private.value_counts(normalize = True).round(3).head(3)

0    0.987
6    0.001
1    0.001
Name: num_private, dtype: float64

Regardless whether num_private, for which description is not available, can really be 0 or it is a missing value, we can safely remove it, because the feature which has the same value in 99 % of cases wouldn't be very useful anyway. There is a big chance that t is a missing value, too.

In [23]:
X_train.shape

(47520, 40)

In [24]:
zero_values_per_feature = count_, values(X_train, 0)
zero_values_per_feature

NameError: name 'count_' is not defined

In [ ]:
for z in zero_values_per_feature.index :
    print()
    if len(X_train[z].unique()) < 30 :
        display(X_train[z].value_counts())
    print()

# This is wrong

In [ ]:
X_train[X_train.construction_year == 0].groupby('management').size().sort_values(ascending = False)\
.div(len(X_train[X_train.construction_year == 0])).round(2)

In [ ]:
for c in X_train[X_train.construction_year == 0].columns :
    if X_train[X_train.construction_year == 0][c].dtype == 'O' :
        if len(X_train[X_train.construction_year == 0][c].unique()) < 10 :
            print()
            print('The fraction of water points records without construction year grouped by {}.'.format(c))
            print()
            print(X_train[X_train.construction_year == 0].groupby(c).size()\
                  .sort_values(ascending = False).div(len(X_train[X_train.construction_year == 0])).round(2))
            print()

In [ ]:
perc_record_zero_year = round(len(df[df.construction_year == 0]) / X_train.shape[0] * 100, 1)

In [ ]:
print(f'As many as {perc_record_zero_year} % of records are missing the year info.')

In [ ]:
X_train.num_private.value_counts()