In [110]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import spearmanr
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from random import randrange
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
from sklearn.metrics import log_loss
from datetime import datetime
import autosklearn.classification
from sklearn.metrics import ConfusionMatrixDisplay
from joblib import dump
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest
import sys
sys.path.append('/home/krzysiek/drivendata/drivendata_competitions/functions')
from eda_automations import *
from sklearn.model_selection import train_test_split
import random as r
pd.set_option('display.max_columns', None)

In [111]:
df = pd.read_csv('https://s3.amazonaws.com/drivendata/data/7/public/4910797b-ee55-40a7-8668-10efd5c1b960.csv')

In [112]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [113]:
labels_data = pd.read_csv('https://github.com/KCristopher/drivendata_competitions/raw/main/data/training_set_labels.csv')

In [114]:
labels_data.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

The data contains the info about waterpoints in Tanzania. Each observations correspond to some waterpoint and is described in terms of the variables such as the height at which the waterpoint is located, type of source of the water (for example rain or spring) or the institution which built the well.

We hope that we would be able to discern which waterponits are functional, which are not, and which needs to be repaired by examining the levels of all these different variables.

In [115]:
labels_data.index = labels_data['id']
del labels_data['id']

In [116]:
labels_data.head(3)

      status_group
id
69572   functional
8776    functional
34310   functional

In [117]:
y = labels_data.copy()
X = df.copy()

Splitting the data into training and testing sets :

In [118]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

# Exploring training data

<center>Checking the general structure of the data, data types and  missing values :</center>

In [119]:
summarize_df(X_train)

Glance at the data :

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
3607,454,50.0,2013-02-27,Dmdd,2092,DMDD,35.426020,-4.227446,Narmo,0,Internal,Bashnet Kati,Manyara,21,1,Babati,Bashinet,160,True,GeoData Consultants Ltd,Water Board,NaN,True,1998,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
50870,510,0.0,2011-03-17,Cmsr,0,Gove,35.510074,-5.724555,Lukali,0,Internal,Lukali,Dodoma,1,6,Bahi,Lamaiti,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
20413,14146,0.0,2011-07-10,Kkkt,0,KKKT,32.499866,-9.081222,Mahakama,0,Lake Rukwa,Chawalikozi,Mbeya,12,6,Mbozi,Ndalambo,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,other,other,other,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,other,other
52806,47410,0.0,2011-04-12,NaN,0,NaN,34.060484,-8.830208,Shule Ya Msingi Chosi A,0,Rufiji,Shuleni,Mbeya,12,7,Mbarali,Chimala,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,insufficient,insufficient,river,river/lake,surface,communal standpipe,communal standpipe
50091,1288,300.0,2011-04-05,Ki,1023,Ki,37.032690,-6.040787,Kwa Mjowe,0,Wami / Ruvu,Ngholong,Morogoro,5,1,Kilosa,Chakwale,120,True,GeoData Consultants Ltd,VWC,NaN,True,1997,other,other,other,vwc,user-group,pay when scheme fails,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,other,other

Data types, dimension of the data :

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47520 entries, 3607 to 56422
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     47520 non-null  int64
 1   amount_tsh             47520 non-null  float64
 2   date_recorded          47520 non-null  object
 3   funder                 44644 non-null  object
 4   gps_height             47520 non-null  int64
 5   installer              44631 non-null  object
 6   longitude              47520 non-null  float64
 7   latitude               47520 non-null  float64
 8   wpt_name               47520 non-null  object
 9   num_private            47520 non-null  int64
 10  basin                  47520 non-null  object
 11  subvillage             47224 non-null  object
 12  region                 47520 non-null  object
 13  region_code            47520 non-null  int64
 14  district_code          47520 non-null  int64
 15  lga                    47520 non-null  object
 16  ward                   47520 non-null  object
 17  population             47520 non-null  int64
 18  public_meeting         44831 non-null  object
 19  recorded_by            47520 non-null  object
 20  scheme_management      44418 non-null  object
 21  scheme_name            24997 non-null  object
 22  permit                 45081 non-null  object
 23  construction_year      47520 non-null  int64
 24  extraction_type        47520 non-null  object
 25  extraction_type_group  47520 non-null  object
 26  extraction_type_class  47520 non-null  object
 27  management             47520 non-null  object
 28  management_group       47520 non-null  object
 29  payment                47520 non-null  object
 30  payment_type           47520 non-null  object
 31  water_quality          47520 non-null  object
 32  quality_group          47520 non-null  object
 33  quantity               47520 non-null  object
 34  quantity_group         47520 non-null  object
 35  source                 47520 non-null  object
 36  source_type            47520 non-null  object
 37  source_class           47520 non-null  object
 38  waterpoint_type        47520 non-null  object
 39  waterpoint_type_group  47520 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 14.9+ MB

None

Missing values across variables :

scheme_name              22523
scheme_management         3102
installer                 2889
funder                    2876
public_meeting            2689
permit                    2439
subvillage                 296
management_group             0
waterpoint_type              0
extraction_type              0
extraction_type_group        0
source_class                 0
extraction_type_class        0
management                   0
source_type                  0
source                       0
payment_type                 0
water_quality                0
construction_year            0
quality_group                0
quantity                     0
quantity_group               0
payment                      0
id                           0
amount_tsh                   0
recorded_by                  0
population                   0
ward                         0
lga                          0
district_code                0
region_code                  0
region                       0
basin                        0
num_private                  0
wpt_name                     0
latitude                     0
longitude                    0
gps_height                   0
date_recorded                0
waterpoint_type_group        0
dtype: int64

Missing values - % of the data :

scheme_name              47.40
scheme_management         6.53
installer                 6.08
funder                    6.05
public_meeting            5.66
permit                    5.13
subvillage                0.62
management_group          0.00
waterpoint_type           0.00
extraction_type           0.00
extraction_type_group     0.00
source_class              0.00
extraction_type_class     0.00
management                0.00
source_type               0.00
source                    0.00
payment_type              0.00
water_quality             0.00
construction_year         0.00
quality_group             0.00
quantity                  0.00
quantity_group            0.00
payment                   0.00
id                        0.00
amount_tsh                0.00
recorded_by               0.00
population                0.00
ward                      0.00
lga                       0.00
district_code             0.00
region_code               0.00
region                    0.00
basin                     0.00
num_private               0.00
wpt_name                  0.00
latitude                  0.00
longitude                 0.00
gps_height                0.00
date_recorded             0.00
waterpoint_type_group     0.00
dtype: float64

In [120]:
codes = [c for c in X_train.columns if 'code' in c]
codes

['region_code', 'district_code']

<center>Getting numeric summaries of the data</center>

In [121]:
summarize_numeric_data(X_train, exclude = ['id'] + codes)

The correlation between the variables in the dataset :

,amount_tsh,gps_height,longitude,latitude,num_private,population,construction_year
amount_tsh,1.00,0.07,0.02,-0.05,0.00,0.01,0.06
gps_height,0.07,1.00,0.15,-0.04,0.01,0.13,0.66
longitude,0.02,0.15,1.00,-0.43,0.02,0.09,0.40
latitude,-0.05,-0.04,-0.43,1.00,0.01,-0.02,-0.25
num_private,0.00,0.01,0.02,0.01,1.00,0.00,0.03
population,0.01,0.13,0.09,-0.02,0.00,1.00,0.26
construction_year,0.06,0.66,0.40,-0.25,0.03,0.26,1.00

Descriptive statistics of numeric data :

,amount_tsh,gps_height,longitude,latitude,num_private,population,construction_year
count,47520.00,47520.00,47520.00,47520.00,47520.00,47520.00,47520.00
mean,322.05,668.75,34.09,-5.71,0.50,179.53,1303.35
std,3200.62,692.97,6.54,2.94,13.25,472.77,950.76
min,0.00,-63.00,0.00,-11.65,0.00,0.00,0.00
25%,0.00,0.00,33.08,-8.53,0.00,0.00,0.00
50%,0.00,370.00,34.91,-5.02,0.00,25.00,1986.00
75%,20.00,1320.00,37.18,-3.33,0.00,213.00,2004.00
max,350000.00,2770.00,40.35,-0.00,1776.00,30500.00,2013.00

In [122]:
look_at_variables_values(X_train)

Unique values from id, limited to 30

26949    33012
13122    37547
27677    38554
22282    60591
22965    40588
2526      5508
32740    16627
1650     66288
37658    26537
13619     8247
24778    15880
22276    54569
2392     15043
2744     61851
6138     22606
11028    28471
43180    19478
20395    21639
3838     40724
15284    53345
8104     17782
5449     10254
28128    19730
17797    13004
25231    25290
3776     27064
32357    32737
10001    57771
8789     42092
11231    30289
dtype: int64


Unique values from amount_tsh, limited to 30

7         30.00
6        500.00
51        35.00
33       700.00
53    117000.00
77       550.00
80       306.00
60    200000.00
93         0.25
50        33.00
78      5500.00
40       150.00
71     16000.00
76      9000.00
8       1000.00
79       220.00
11      4700.00
35     16300.00
45      2800.00
5        250.00
64      6300.00
17     10000.00
29         6.00
55        60.00
31      4000.00
68         9.00
90    100000.00
43         2.00
10       100.00
58     50000.00
dtype: float64


Unique values from date_recorded, limited to 30

248    2013-04-03
292    2011-04-23
332    2011-09-06
60     2011-02-28
85     2013-01-14
297    2013-01-11
143    2011-07-30
253    2013-02-05
97     2011-04-03
209    2013-07-03
317    2012-01-21
178    2011-03-22
100    2011-07-20
45     2011-02-22
299    2011-08-20
174    2011-02-23
9      2013-01-22
110    2011-02-20
92     2012-11-01
101    2013-04-04
63     2011-04-18
46     2012-10-07
229    2011-04-15
177    2012-10-27
158    2011-07-15
301    2012-10-01
162    2011-07-31
88     2011-07-06
135    2011-03-28
52     2013-01-15
dtype: object


Unique values from funder, limited to 30

316     Swisland/ Mount Meru Flowers
1130                            Brad
1694                      Nmdc India
128                             Cdcg
1049                     Fpct Mulala
60                       Cefa-njombe
155                            Koica
690                             Quik
882                        Overnment
1448                            Duka
996                             Icdp
1605                  San Pellegrino
1547                District Medical
340                            Ndrdp
68                                Ka
659           National Rural And Hfa
1506               Cc Motor Day 2010
1402               Steven Nyangarika
703                             Kadp
673                     Leopad Abeid
1389                      Norway Aid
494                         Uhoranzi
1371                Maashumu Mohamed
614                           Shanta
1552                       Oxfarm Gb
1101                         Quicklw
1172                   Insititutiona
1098                          Caltus
1000                           Kando
1331                          Makori
dtype: object


Unique values from gps_height, limited to 30

615      294
1314     248
215     1009
479      -11
89       861
345      -27
146     1466
703      258
1020    1882
758     1420
420      687
221     1224
722     1293
1249    1794
1647    1668
1180    1636
1689     -59
1218    1292
500      251
1016     335
290     1607
2089     736
1683    1559
380      753
2022     178
1775     601
2033     596
1797     825
503     1533
679     1433
dtype: int64


Unique values from installer, limited to 30

1748                  Mgaya Mwita
430                          FPCT
1391                            M
1527             Ardhi Water well
1718                           JI
901                          LAMP
1614                        GD&ID
817                        Gesine
836                        BESADO
1290                     Nyangere
1636                      Nchagwa
749                          Vill
1192                      Ifakara
50                     Active MKM
1396               Arab community
1296     Mwl. Nyerere sec. school
1892                       QUKWIN
440                     VILLAGERS
585                            AD
32                            PET
1899                      Sagaswe
10                            BSF
682                           OBC
1034                           MP
1726                  Team Rafiki
1403    Serengeti District concil
69                             FW
1797                  Omar Rafael
1856                     SERONERA
736               Loliondo Parish
dtype: object


Unique values from longitude, limited to 30

32724    38.234789
33814    32.781791
9985     33.989092
12693    35.386333
38683    38.338195
13906    36.798156
10176    39.128548
41094    38.252913
24028    36.907245
34165    33.192361
11573    32.340485
1367     34.777928
40413    33.688490
17305    40.345193
43260    35.122344
30749    33.901004
10830    38.883242
16829    38.396156
32458    32.711592
13269    37.549836
31452    34.859801
37531    31.606615
37194    35.436575
27573    35.819732
5192     37.705645
10506    38.364212
16316    33.132006
17059    36.077617
20223    37.067106
14069    35.609093
dtype: float64


Unique values from latitude, limited to 30

17763    -6.703164
8148     -6.507940
3963     -9.523761
29072    -4.210841
42080    -3.345729
15244    -5.419755
35482    -6.476857
5266     -6.345616
21168    -3.481332
32236    -7.095941
15849   -10.447562
32546    -6.079824
5062     -6.897924
7737     -7.624229
15343    -9.657319
44482    -3.355103
27817    -3.067861
31975    -3.228760
18003    -4.899501
18586    -3.223133
32515    -1.494238
29582    -5.456983
33028    -4.873719
27598   -10.510262
45041    -6.213482
15702    -8.984308
2450    -10.547441
5099     -1.354843
44787    -6.785535
43483    -3.261434
dtype: float64


Unique values from wpt_name, limited to 30

2451                       Kwemtusi
30391        Shule Ya Msingi Swaila
13421                        Twanka
7119       Maghang Secondary School
11979                   Kwanyangunu
18908                    Kwa Eziron
21941               Kwa Anael Moshi
24116                     Kidenda B
22193                         Dampo
823                Kwa Mzee Shabani
22013                   Kwa Kasansa
18537                      Kwa Kasi
6658                    Mzee Migoko
14167                     Kwa Hilya
13989              Kwa Joseph Ndunu
19271                    Kwa Almani
17585                    Kwa Masisa
19295                       Manonga
1374                       Uholanzi
29124                       Urimbwi
12738                        Buka B
25777                Salum Njechele
29712               Ramadhan Mghali
16403                Kishaba Maburi
17299    Mwaseni Secondary School 2
21350           Kwa Matias Mashindo
4594            Kwa Mzeee Mwamkinga
24740             Mwachambia Primar
5374               Kwa Mzee Tankisi
12504                       Thadayo
dtype: object


Unique values from num_private, limited to 30

11      45
30      41
1       47
40    1402
53    1776
42      50
32      61
49      42
34     160
19      12
24      23
27      25
44       9
14      17
33     213
26       7
56     180
36      93
35       4
37      22
39     120
23      26
38     141
10      80
18     102
15      11
48      24
58      27
21      39
45      14
dtype: int64


Unique values from basin, limited to 30

3                Wami / Ruvu
7                 Lake Nyasa
4              Lake Victoria
0                   Internal
2                     Rufiji
6                    Pangani
5            Lake Tanganyika
1                 Lake Rukwa
8    Ruvuma / Southern Coast
dtype: object


Unique values from subvillage, limited to 30

10060                    Deshi
3971                   Kunungu
11486                 Matambwe
3948                   Bacho A
13569                Mwahamala
3969                    Rubale
12500                     Kona
11392                  Gwashyi
2281             Igongolo Kati
3295             Mtenki Kalala
16267             Kinyakasanda
5034     Kundikili Mashariki B
11118                   Geteba
9933                 Kimambira
4850                  Sawasawa
14709              Ulilwasimba
1503                   Mkirago
16232             Nyamvubuka B
15666               Mbalamwani
4078                   Magwata
7313                  Saye Juu
15128                  Ruchomo
13523                  Nkuyu A
13770                   Buluma
8898               Shanshamuzi
3644                   Monduli
15069                   Bolisa
7001           Itumbiliashimba
14558          Mazinde Antakae
12673                  Busonjo
dtype: object


Unique values from region, limited to 30

1            Dodoma
20             Mara
4            Mwanza
10           Kagera
0           Manyara
6            Kigoma
19           Mtwara
15           Ruvuma
11          Singida
8            Iringa
12           Tabora
5         Shinyanga
2             Mbeya
13            Rukwa
16    Dar es Salaam
18            Lindi
14            Pwani
7             Tanga
17      Kilimanjaro
3          Morogoro
9            Arusha
dtype: object


Unique values from region_code, limited to 30

7      4
3      5
22    24
21    20
9      2
0     21
16    10
15     6
13    15
10    18
18     3
11    13
8     11
14    60
6     16
26    40
24     9
20    99
17     7
23    90
5     17
4     19
19     8
1      1
12    14
25    80
2     12
dtype: int64


Unique values from district_code, limited to 30

1      6
8     53
9     30
17    80
0      1
10    43
14    60
4      3
11    33
16    62
13    13
5      4
7      8
15    63
3      2
6      5
2      7
19    67
12    23
18     0
dtype: int64


Unique values from lga, limited to 30

61               Ngara
55             Mpwapwa
18               Ileje
43        Iringa Rural
9              Korogwe
79             Kishapu
0               Babati
57            Mkuranga
38              Igunga
114            Handeni
2                Mbozi
30              Kwimba
52             Karagwe
108       Tabora Urban
46               Rombo
120              Tanga
27            Bagamoyo
3              Mbarali
21     Shinyanga Rural
58               Kyela
86         Lindi Rural
13              Rungwe
42        Musoma Rural
50          Ngorongoro
54              Urambo
60             Mvomero
124          Nyamagana
33              Muleba
10             Mufindi
20           Missungwi
dtype: object


Unique values from ward, limited to 30

354              Mwakitolyo
1198                 Kisuke
1239                  Bukwe
64                   Mbingu
1234      Kitirima Kingachi
300                    Busi
1072                Singisi
412                  Kifula
794                 Budekwa
1436                  Dutwa
1585                Mnyambe
992            Arusha Chini
1469               Barikiwa
107                 Ntobeye
8                   Nyigogo
272                   Tingi
1726               Liwale A
19                   Sagata
466                  Baleni
1067                Mkalamo
342                 Lushoto
147     Old Moshi Mashariki
964                   Iwawa
1152                   Saja
196                 Nzuguni
1657          Uru Kaskazini
48                Mji Mwema
1317                Mugango
1761              Kandawale
1582                 Isseke
dtype: object


Unique values from population, limited to 30

932      166
837     2345
247      525
870      789
356    30500
42       320
250      554
182      690
849      397
526      748
694      131
119      780
74        70
399      321
594      930
283      512
39       380
118       98
107      750
459      425
135       78
488      637
554      241
461      343
286      960
195      840
564       84
444      288
35        73
938      779
dtype: int64


Unique values from public_meeting, limited to 30

0     True
2      NaN
1    False
dtype: object


Unique values from recorded_by, limited to 30

0    GeoData Consultants Ltd
dtype: object


Unique values from scheme_management, limited to 30

2                  WUG
5           Parastatal
10               Other
11               Trust
6                  SWC
7                  WUA
8     Private operator
4      Water authority
1                  VWC
9              Company
0          Water Board
12                None
3                  NaN
dtype: object


Unique values from scheme_name, limited to 30

2282                                 Mission
1313    Kisogwe/ Mkugwa gravity water supply
605                                ADP Simbo
584                                BL Kikafu
537                             Maforoni Dam
1652                              Maji Mingi
1610                 Nyabugugo spring source
127                            Nywelo streem
319                           Kiboelo forest
1389                       Ihanda spring box
2131                                  kidewa
1600                Lake Natron water scheme
2296              Kasuguti irrigation scheme
1516                    Makonde water supply
1966                              Upper RUVU
496                                  Vumamti
1174                          Kwevumo streem
1444                                    Mlal
1275                    Olkimo water project
2291                    Kwenangwa water supp
1111              Magoto piped Water  suplly
1521                                Chazi ri
1353               Gelailumbwa water project
1012                     Luwasu water supply
1601                 Kigonigoni Water supply
1246                                   Imehe
1527                                BL Neema
2318                      KKKT Water Project
2503                  Lerang'wa waterbsupply
648                                 Divue ri
dtype: object


Unique values from permit, limited to 30

2      NaN
0     True
1    False
dtype: object


Unique values from construction_year, limited to 30

38    1991
19    2007
47    2013
33    1982
5     2004
10    1995
21    2002
42    2001
53    1968
25    1960
32    1964
51    1961
45    1962
18    1984
30    1965
24    1978
15    2000
40    1977
37    1980
4     2008
41    1987
0     1998
17    1971
29    1979
13    1970
6     2012
14    1999
22    2006
48    1967
54    1966
dtype: int64


Unique values from extraction_type, limited to 30

4                        swn 80
9                      windmill
3                   nira/tanira
0                       gravity
17    other - mkulima/shinyanga
5                          mono
14               india mark iii
2                         other
10            other - rope pump
6                   submersible
15                         cemo
8                           ksb
7                       afridev
16                       walimi
13                       climax
1                 india mark ii
12            other - play pump
11               other - swn 81
dtype: object


Unique values from extraction_type_group, limited to 30

4              swn 80
12     india mark iii
9           rope pump
5                mono
8        wind-powered
0             gravity
1       india mark ii
2               other
10     other handpump
3         nira/tanira
7             afridev
11    other motorpump
6         submersible
dtype: object


Unique values from extraction_type_class, limited to 30

5    wind-powered
0         gravity
2           other
1        handpump
3       motorpump
6       rope pump
4     submersible
dtype: object


Unique values from management, limited to 30

3     private operator
4           parastatal
8              company
1                  vwc
9                other
6                  wua
10     water authority
5       other - school
0          water board
11               trust
2                  wug
7              unknown
dtype: object


Unique values from management_group, limited to 30

0    user-group
3         other
2    parastatal
4       unknown
1    commercial
dtype: object


Unique values from payment, limited to 30

1                never pay
6                  unknown
4                    other
3    pay when scheme fails
5             pay annually
0           pay per bucket
2              pay monthly
dtype: object


Unique values from payment_type, limited to 30

6       unknown
0    per bucket
4         other
1     never pay
3    on failure
5      annually
2       monthly
dtype: object


Unique values from water_quality, limited to 30

3              coloured
6       salty abandoned
1                 salty
4              fluoride
0                  soft
5                 milky
7    fluoride abandoned
2               unknown
dtype: object


Unique values from quality_group, limited to 30

2     unknown
0        good
4    fluoride
5       milky
3     colored
1       salty
dtype: object


Unique values from quantity, limited to 30

1          enough
0    insufficient
4         unknown
2        seasonal
3             dry
dtype: object


Unique values from quantity_group, limited to 30

1          enough
4         unknown
0    insufficient
2        seasonal
3             dry
dtype: object


Unique values from source, limited to 30

4                hand dtw
6    rainwater harvesting
1            shallow well
5                     dam
9                 unknown
7                    lake
0                  spring
2                   river
3             machine dbh
8                   other
dtype: object


Unique values from source_type, limited to 30

5    rainwater harvesting
2              river/lake
4                     dam
1            shallow well
6                   other
3                borehole
0                  spring
dtype: object


Unique values from source_class, limited to 30

1        surface
2        unknown
0    groundwater
dtype: object


Unique values from waterpoint_type, limited to 30

3    communal standpipe multiple
0             communal standpipe
6                            dam
2                          other
1                      hand pump
5                  cattle trough
4                improved spring
dtype: object


Unique values from waterpoint_type_group, limited to 30

2                 other
5                   dam
3       improved spring
0    communal standpipe
4         cattle trough
1             hand pump
dtype: object

We can see that there is one entry of 0 in the column construction_year.

In [123]:
X_train[X_train.construction_year == 0].shape

(16503, 40)

In [124]:
X_train.columns.tolist()

['id',
 'amount_tsh',
 'date_recorded',
 'funder',
 'gps_height',
 'installer',
 'longitude',
 'latitude',
 'wpt_name',
 'num_private',
 'basin',
 'subvillage',
 'region',
 'region_code',
 'district_code',
 'lga',
 'ward',
 'population',
 'public_meeting',
 'recorded_by',
 'scheme_management',
 'scheme_name',
 'permit',
 'construction_year',
 'extraction_type',
 'extraction_type_group',
 'extraction_type_class',
 'management',
 'management_group',
 'payment',
 'payment_type',
 'water_quality',
 'quality_group',
 'quantity',
 'quantity_group',
 'source',
 'source_type',
 'source_class',
 'waterpoint_type',
 'waterpoint_type_group']

In [125]:
cols_subset = ['ward',
 'population',
 'public_meeting',
 'recorded_by',
 'scheme_management',
 'scheme_name',
 'permit',
 'construction_year',
 'extraction_type',
 'extraction_type_group',
 'extraction_type_class',
 'management',
 'management_group',
 'payment',
 'payment_type',
 'water_quality']

In [126]:
X_train[X_train.construction_year == 0][cols_subset].sample(n = 100).head(50)

,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality
57328,Dutwa,0,False,GeoData Consultants Ltd,WUG,NaN,False,0,swn 80,swn 80,handpump,wug,user-group,never pay,never pay,soft
9954,Nkwenda,0,True,GeoData Consultants Ltd,WUG,Chanyangabwa wate,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
44294,Usule,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,other,other,other,vwc,user-group,never pay,never pay,soft
34604,Sadani,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,other,other,other,vwc,user-group,never pay,never pay,soft
20538,Kassambya,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,swn 80,swn 80,handpump,vwc,user-group,never pay,never pay,salty
59368,Mwitikira,0,True,GeoData Consultants Ltd,VWC,Mwit,True,0,mono,mono,motorpump,vwc,user-group,pay per bucket,per bucket,soft
39687,Dutwa,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,soft
42235,Mwabuma,0,True,GeoData Consultants Ltd,WUG,None,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,soft
19936,Usanda,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,soft
43724,Kaisho,0,True,GeoData Consultants Ltd,WUG,Kaisho/Isingiro w,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
6518,Ushirika,0,True,GeoData Consultants Ltd,WUG,NaN,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,unknown,unknown,soft
2539,Kasololo,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,swn 80,swn 80,handpump,vwc,user-group,pay annually,annually,salty
57346,Msia,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,nira/tanira,nira/tanira,handpump,vwc,user-group,pay when scheme fails,on failure,soft
16457,Ruanda,0,True,GeoData Consultants Ltd,Water Board,NaN,True,0,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft
42407,Dabalo,0,True,GeoData Consultants Ltd,VWC,Many,True,0,mono,mono,motorpump,vwc,user-group,unknown,unknown,soft
58917,Nshamba,0,True,GeoData Consultants Ltd,VWC,N,True,0,ksb,submersible,submersible,vwc,user-group,never pay,never pay,soft
45911,Chitete,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,nira/tanira,nira/tanira,handpump,vwc,user-group,unknown,unknown,soft
32153,Jangalo,0,True,GeoData Consultants Ltd,VWC,Ntom,False,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
46845,Nkungulu,0,NaN,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,unknown,unknown,soft
6587,Nyabiyonza,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,other,other,other,vwc,user-group,never pay,never pay,soft
51875,Ibihwa,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,swn 80,swn 80,handpump,vwc,user-group,never pay,never pay,soft
24185,Mnenia,0,True,GeoData Consultants Ltd,VWC,Mnen,False,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
6488,Jana,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,swn 80,swn 80,handpump,wug,user-group,unknown,unknown,milky
928,Ruiwa,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft
39403,Songambele,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft
49698,Njoge,0,True,GeoData Consultants Ltd,VWC,Njog,False,0,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft
42416,Karambi,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,other - swn 81,other handpump,handpump,vwc,user-group,never pay,never pay,soft
24652,Makwale,0,True,GeoData Consultants Ltd,NaN,Makwale water supplied sche,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
39369,Itetemia,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft
4665,Itinje,0,True,GeoData Consultants Ltd,WUG,None,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,salty
19853,Igurusi,0,True,GeoData Consultants Ltd,WUA,NaN,True,0,gravity,gravity,gravity,wua,user-group,unknown,unknown,coloured
5807,Mwena,1,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
18423,Ntobeye,0,True,GeoData Consultants Ltd,VWC,Nyakarundi spring source,False,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
19833,Busole,0,True,GeoData Consultants Ltd,VWC,Sinyanga water supplied sch,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
24877,Bumilayinga,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,swn 80,swn 80,handpump,vwc,user-group,pay annually,annually,soft
40287,Nkungulu,0,NaN,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,unknown,unknown,soft
799,Bugarama,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft
52083,Igamba,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,swn 80,swn 80,handpump,vwc,user-group,pay when scheme fails,on failure,soft
23053,Chela,0,True,GeoData Consultants Ltd,NaN,Chela pipe scheme,True,0,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft
59229,Mwendakulima,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,other,other,other,private operator,commercial,unknown,unknown,soft
25847,Chipanga,0,True,GeoData Consultants Ltd,VWC,Chip,True,0,mono,mono,motorpump,vwc,user-group,pay per bucket,per bucket,soft
41562,Nyimbili,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,nira/tanira,nira/tanira,handpump,vwc,user-group,pay when scheme fails,on failure,soft
9336,Igamba,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,nira/tanira,nira/tanira,handpump,vwc,user-group,pay when scheme fails,on failure,soft
22100,Mvumi Mission,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft
48702,Buganguzi,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
57670,Busangi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,unknown,unknown,milky
53850,Pandambili,0,True,GeoData Consultants Ltd,VWC,Maja,False,0,mono,mono,motorpump,vwc,user-group,pay per bucket,per bucket,salty
21706,Pandambili,0,True,GeoData Consultants Ltd,VWC,Chiw,False,0,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft
43163,Kalangalala,0,True,GeoData Consultants Ltd,VWC,Shilabela,True,0,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft
42521,Utengule Usongwe,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,wug,user-group,pay when scheme fails,on failure,soft

In [127]:
def count_values(df, value):
    """
    Returns a pandas DataFrame with the names of the original features in the index and the number of
    occurrences of the value as the values of the first column and the same as the percentage of all
    observations in the second column.

    If the passed value is boolean, compares with boolean values in the DataFrame. If the passed value
    is a string, compares with object (string) values in the DataFrame. Otherwise, only compares with
    values of the same data type.

    Parameters:
    -----------
    df: pandas DataFrame.

    value : str / int / float / bool.
        The value to be counted.

    Returns:
    --------
    pandas DataFrame.
    """

    if isinstance(value, bool):
        value_mask = df.apply(lambda x: isinstance(x[0], bool), axis=0)
    elif isinstance(value, str):
        value_mask = df.dtypes == 'object'
    elif isinstance(value, int):
        value_mask = df.dtypes == 'int64'
    elif isinstance(value, float):
        value_mask = df.dtypes == 'float64'
    else:
        raise TypeError("Input value must be of type bool, str, int, or float.")

    count_series = df.loc[:, value_mask].eq(value).sum().sort_values(ascending=False)
    percent_series = count_series / len(df) * 100
    percent_series = percent_series.round(1)

    data = {
        f"Count of {value}": count_series,
        f"{value}'s as % of Total": percent_series
    }
    result_df = pd.DataFrame(data)
    result_df.index.name = 'Feature'
    result_df.sort_values(by=f"Count of {value}", ascending=False, inplace=True)

    return result_df[result_df['Count of {}'.format(value)] > 0]

In [128]:
X_train[['permit', 'scheme_management']]

      permit scheme_management
3607    True       Water Board
50870   True               VWC
20413  False               VWC
52806   True               VWC
50091   True               VWC
...      ...               ...
54343   True       Water Board
38158  False               VWC
860    False  Private operator
15795   True               WUG
56422   True           Company

[47520 rows x 2 columns]

<center>Examining potentially not obvious missing values</center>

In [129]:
count_values(df = X_train, value = 0)

                   Count of 0  0's as % of Total
Feature
num_private             46903               98.7
population              17048               35.9
construction_year       16503               34.7
gps_height              16275               34.2
district_code              19                0.0
id                          1                0.0

In [130]:
X_train.num_private.value_counts(normalize = True).round(3).head(3)

0    0.987
6    0.001
1    0.001
Name: num_private, dtype: float64

In [131]:
X_train[X_train.num_private == 0].sample(n = 10)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
54991,53989,0.0,2012-10-08,Biore,0,WEDECO,34.531640,-3.727918,Mwabalomolo,0,Internal,Mwabalomolomu,Shinyanga,17,6,Meatu,Mwanjoro,0,True,GeoData Consultants Ltd,WUG,None,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
14484,54275,0.0,2011-03-11,S. Kumar,12,AMREF,39.308414,-7.147966,Kwa Mkadini,0,Wami / Ruvu,Kisayani,Pwani,6,4,Mkuranga,Mbezi,240,True,GeoData Consultants Ltd,VWC,NaN,False,2000,other,other,other,vwc,user-group,never pay,never pay,soft,good,seasonal,seasonal,shallow well,shallow well,groundwater,other,other
38392,73168,0.0,2011-03-24,Kilindi District Co,0,DWE,37.682802,-5.480102,School,0,Pangani,Korudiga,Tanga,4,7,Kilindi,Msanja,1,True,GeoData Consultants Ltd,VWC,NaN,False,1989,swn 80,swn 80,handpump,vwc,user-group,never pay,never pay,soft,good,seasonal,seasonal,shallow well,shallow well,groundwater,hand pump,hand pump
29979,66159,0.0,2012-10-16,Tdft,0,TDFT,31.708136,-5.090220,Shuleni,0,Lake Tanganyika,Kusini,Tabora,14,4,Urambo,Ugunga,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,afridev,afridev,handpump,vwc,user-group,never pay,never pay,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
25778,3119,0.0,2011-04-08,NaN,0,NaN,34.345413,-8.622327,Kwaudela,0,Rufiji,Tembo B,Mbeya,12,7,Mbarali,Rujewa,0,False,GeoData Consultants Ltd,Water Board,NaN,True,0,swn 80,swn 80,handpump,water board,user-group,never pay,never pay,salty,salty,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
8837,23476,0.0,2012-10-11,Halmashauri Ya Wilaya Sikonge,0,Halmashauri ya wilaya sikonge,32.734732,-5.778859,Ipole Sokoni,0,Lake Tanganyika,Ipole Kaskazini,Tabora,14,5,Sikonge,Ipole,0,True,GeoData Consultants Ltd,VWC,Mradi wa maji wa Ipole,True,0,other,other,other,vwc,user-group,pay per bucket,per bucket,soft,good,dry,dry,spring,spring,groundwater,communal standpipe multiple,communal standpipe
35935,49315,0.0,2013-03-17,Oxfarm,1866,Wasso contractors,35.331779,-1.822960,Zahanati,0,Lake Victoria,Sero,Arusha,2,5,Ngorongoro,Soit Sambu,210,True,GeoData Consultants Ltd,VWC,Sero water scheme,True,2009,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
50636,23714,0.0,2013-03-04,World Vision/adra,1281,Community,36.867351,-3.334304,Mangusha,0,Pangani,Nkoanekoli,Arusha,2,7,Meru,Nkoaranga,68,True,GeoData Consultants Ltd,VWC,Kyamara gravity water supply,True,2001,gravity,gravity,gravity,vwc,user-group,unknown,unknown,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
9765,7761,1500.0,2013-02-12,Government Of Tanzania,690,District council,37.551358,-3.539619,Pump House,0,Pangani,Majengo,Kilimanjaro,3,2,Mwanga,Kileo,50,True,GeoData Consultants Ltd,WUA,Kifaru water Supply,True,2012,submersible,submersible,submersible,wua,user-group,pay monthly,monthly,soft,good,insufficient,insufficient,machine dbh,borehole,groundwater,communal standpipe,communal standpipe
52498,61708,0.0,2011-04-13,Kkkt,0,KKKT,33.025389,-9.011130,Mwandepa,0,Lake Rukwa,Mjimwema,Mbeya,12,6,Mbozi,Myovizi,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,nira/tanira,nira/tanira,handpump,vwc,user-group,pay when scheme fails,on failure,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump

Regardless whether num_private, for which description is not available, can really be 0 or it is a missing value, we can safely remove it, because the feature which has the same value in 99 % of cases wouldn't be very useful anyway. There is a big chance that t is a missing value, too.

In [132]:
del X_train['num_private']

In [133]:
X_train.head(2)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
3607,454,50.0,2013-02-27,Dmdd,2092,DMDD,35.426020,-4.227446,Narmo,Internal,Bashnet Kati,Manyara,21,1,Babati,Bashinet,160,True,GeoData Consultants Ltd,Water Board,NaN,True,1998,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
50870,510,0.0,2011-03-17,Cmsr,0,Gove,35.510074,-5.724555,Lukali,Internal,Lukali,Dodoma,1,6,Bahi,Lamaiti,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [134]:
count_values(df = X_train, value = '-')

           Count of -  -'s as % of Total
Feature
installer           3                0.0

In [135]:
X_train[X_train.installer == '-']

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
10217,42616,0.0,2011-08-03,Kalebejo Parish,0,-,32.356645,-2.499427,Kalebejo Parish,Lake Victoria,Nyang'Ombe,Mwanza,19,5,Sengerema,Kalebezo,0,NaN,GeoData Consultants Ltd,Private operator,None,True,0,swn 80,swn 80,handpump,private operator,commercial,never pay,never pay,salty abandoned,salty,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
25769,21336,0.0,2011-07-26,Government Of Tanzania,0,-,32.674665,-2.506721,Health Center,Lake Victoria,Katungulu Center,Mwanza,19,5,Sengerema,Katunguru,0,True,GeoData Consultants Ltd,VWC,water supply in katungulu,True,0,other,other,other,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,lake,river/lake,surface,communal standpipe,communal standpipe
20968,10873,0.0,2011-07-26,Government Of Tanzania,0,-,32.677150,-2.508912,Kwa Madebele,Lake Victoria,Katungulu Center,Mwanza,19,5,Sengerema,Katunguru,0,True,GeoData Consultants Ltd,VWC,water supply Katungulu,True,0,other,other,other,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,lake,river/lake,surface,communal standpipe,communal standpipe

hyphens ('-') must represent NaNs.

In [136]:
X_train.loc[X_train.installer == '-' , 'installer'] = np.nan

In [80]:
X_train[X_train.installer == '-']

Empty DataFrame
Columns: [id, amount_tsh, date_recorded, funder, gps_height, installer, longitude, latitude, wpt_name, basin, subvillage, region, region_code, district_code, lga, ward, population, public_meeting, recorded_by, scheme_management, scheme_name, permit, construction_year, extraction_type, extraction_type_group, extraction_type_class, management, management_group, payment, payment_type, water_quality, quality_group, quantity, quantity_group, source, source_type, source_class, waterpoint_type, waterpoint_type_group]
Index: []

In [81]:
X_train.shape

(47520, 39)

In [82]:
X_train[X_train.population == 0]

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
50870,510,0.0,2011-03-17,Cmsr,0,Gove,35.510074,-5.724555,Lukali,Internal,Lukali,Dodoma,1,6,Bahi,Lamaiti,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
20413,14146,0.0,2011-07-10,Kkkt,0,KKKT,32.499866,-9.081222,Mahakama,Lake Rukwa,Chawalikozi,Mbeya,12,6,Mbozi,Ndalambo,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,other,other,other,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,other,other
52806,47410,0.0,2011-04-12,NaN,0,NaN,34.060484,-8.830208,Shule Ya Msingi Chosi A,Rufiji,Shuleni,Mbeya,12,7,Mbarali,Chimala,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,insufficient,insufficient,river,river/lake,surface,communal standpipe,communal standpipe
16521,13095,0.0,2011-08-08,Hesawa,0,DWE,33.509112,-2.648505,Kwa Mudaba,Lake Victoria,Lumeji,Mwanza,19,2,Magu,Sukuma,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
52225,558,0.0,2013-03-01,World Vision,0,World vision,33.731347,-3.284633,Mwamagulya,Internal,Ngomeni,Shinyanga,17,2,Maswa,Busilili,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,other,other,soft,good,seasonal,seasonal,shallow well,shallow well,groundwater,hand pump,hand pump
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41090,50530,0.0,2011-03-24,World Bank,0,Inter,36.644403,-6.249858,Kwa John Makago,Wami / Ruvu,NaN,Dodoma,1,3,Kongwa,Iduo,0,True,GeoData Consultants Ltd,VWC,Iduo,False,0,submersible,submersible,submersible,vwc,user-group,pay per bucket,per bucket,salty,salty,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
44131,5457,0.0,2011-03-14,Bsf,0,DWE,35.238399,-5.172737,Machineni,Internal,Kilimba B,Dodoma,1,1,Kondoa,Ovada,0,True,GeoData Consultants Ltd,VWC,Ovad,False,0,cemo,other motorpump,motorpump,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,machine dbh,borehole,groundwater,communal standpipe,communal standpipe
37194,73111,0.0,2011-02-26,Kkkt,1922,Commu,34.230959,-9.369277,none,Lake Nyasa,Ikonda Bo,Iringa,11,3,Makete,Lupalilo,0,True,GeoData Consultants Ltd,VWC,Ikonda,False,2000,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
6265,47858,0.0,2011-03-10,Bsf,0,Gove,35.547568,-6.336433,Mnadan,Internal,Kikuyu,Dodoma,1,6,Bahi,Ibugule,0,True,GeoData Consultants Ltd,VWC,Nkho,True,0,mono,mono,motorpump,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,machine dbh,borehole,groundwater,communal standpipe,communal standpipe
15795,49444,0.0,2012-10-31,Rwssp,0,WEDECO,34.316586,-3.107161,Muungano,Lake Victoria,Ijosho,Shinyanga,17,6,Meatu,Sakasaka,0,True,GeoData Consultants Ltd,WUG,None,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [83]:
X_train.loc[ : , 'exact_location'] = [(long, lat) for long, lat in zip(X_train.longitude, X_train.latitude)]

/tmp/ipykernel_1150/888980537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train.loc[ : , 'exact_location'] = [(long, lat) for long, lat in zip(X_train.longitude, X_train.latitude)]

In [84]:
X_train.sample(n = 1000).groupby('exact_location')['population'].unique()

exact_location
(0.0, -2e-08)                          [0]
(29.64824669, -4.79080435)           [500]
(29.65885566, -4.82362806)           [863]
(29.679249100000003, -4.75710463)    [300]
(29.69488, -4.74613666)              [855]
                                     ...
(39.78010514, -10.58139952)          [200]
(40.12213949, -10.21481169)          [200]
(40.19065133, -10.27330099)          [130]
(40.27985323, -10.53735322)          [300]
(40.30198716, -10.32095944)          [500]
Name: population, Length: 976, dtype: object

In [85]:
(X_train.sample(n = 1000).groupby('exact_location')['population'].nunique() == 1).all()

True

Out of 1000 random locations, each location with the same coordinates had the same population, which mean that there are no apparent isses whith the quality of population data.

In [86]:
del X_train['exact_location']

In [87]:
X_train.sample(n = 1000).groupby('subvillage')['population'].unique().head(60)

subvillage
Alosinoni                      [1]
Amani                          [0]
Ants A                       [459]
Anuru                        [135]
Arauyo                       [360]
Arusha                         [0]
Azimio                       [250]
Bagamoyo                  [210, 0]
Barabara                     [147]
Barabara 5                   [345]
Barabara 6                   [100]
Baranyota                    [300]
Batini                        [52]
Batini B                     [100]
Betania                        [1]
Binga Mjini                  [600]
Biyonza                        [0]
Bokara                      [2000]
Bomani                      [4000]
Bombamzinga                    [0]
Bombani                        [0]
Bomu                          [10]
Bramba                       [350]
Bubalaji                       [0]
Budula                         [0]
Buganda                        [0]
Bugengere                      [0]
Buguruni                     [300]
Buhaji                         [0]
Buhu                           [1]
Bujerere                       [0]
Bukalo                         [0]
Bukiruguru Kati                [0]
Bukujungu                      [0]
Bukumbulwa                     [0]
Bukwangu                       [0]
Bulale                         [0]
Bulige                         [0]
Bulongo                        [0]
Bumunyo                      [100]
Bunazi A                       [0]
Bureza                         [0]
Burunge                      [113]
Bushosha                       [0]
Butegwa                        [0]
Bwagala                        [0]
Bwala                          [0]
Bwama                          [1]
Bwawani                      [410]
Bwelu B                       [60]
Bwelu Kisagarani             [300]
Bweyunge                       [0]
Bwimbwi                       [60]
Bwisya                       [600]
Ccm                            [0]
Center              [350, 146, 50]
Cha Zahanati                 [350]
Chalinze Mzee A               [50]
Chamndindi Kati                [1]
Chamwandu                      [0]
Name: population, dtype: object

Population refers to population around the well, so we might have multiple values of population in a ward or even in subvillage. Browsing for sample villages with zero poplation in the Web we find that in fact they do have a population, which makes sense, since there is little incentive to build a well for some lone wanderers in uninhabited places..

In [88]:
X_train.loc[X_train.population == 0, 'population'] = np.nan

In [89]:
X_train.head(2)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
3607,454,50.0,2013-02-27,Dmdd,2092,DMDD,35.426020,-4.227446,Narmo,Internal,Bashnet Kati,Manyara,21,1,Babati,Bashinet,160.0,True,GeoData Consultants Ltd,Water Board,NaN,True,1998,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
50870,510,0.0,2011-03-17,Cmsr,0,Gove,35.510074,-5.724555,Lukali,Internal,Lukali,Dodoma,1,6,Bahi,Lamaiti,NaN,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [90]:
X_train.population.isnull().sum()

17048

In [91]:
X_train.head(2)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
3607,454,50.0,2013-02-27,Dmdd,2092,DMDD,35.426020,-4.227446,Narmo,Internal,Bashnet Kati,Manyara,21,1,Babati,Bashinet,160.0,True,GeoData Consultants Ltd,Water Board,NaN,True,1998,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
50870,510,0.0,2011-03-17,Cmsr,0,Gove,35.510074,-5.724555,Lukali,Internal,Lukali,Dodoma,1,6,Bahi,Lamaiti,NaN,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [94]:
(X_train.isnull().sum().sort_values(ascending = False) / len(X_train)).round(2)

scheme_name              0.47
population               0.36
scheme_management        0.07
installer                0.06
funder                   0.06
public_meeting           0.06
permit                   0.05
subvillage               0.01
payment_type             0.00
extraction_type_class    0.00
management               0.00
management_group         0.00
payment                  0.00
quality_group            0.00
water_quality            0.00
extraction_type          0.00
quantity                 0.00
quantity_group           0.00
source                   0.00
source_type              0.00
source_class             0.00
waterpoint_type          0.00
extraction_type_group    0.00
id                       0.00
construction_year        0.00
amount_tsh               0.00
recorded_by              0.00
ward                     0.00
lga                      0.00
district_code            0.00
region_code              0.00
region                   0.00
basin                    0.00
wpt_name                 0.00
latitude                 0.00
longitude                0.00
gps_height               0.00
date_recorded            0.00
waterpoint_type_group    0.00
dtype: float64