In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import spearmanr
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from random import randrange
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
from sklearn.metrics import log_loss
from datetime import datetime
import autosklearn.classification
from sklearn.metrics import ConfusionMatrixDisplay
from joblib import dump
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest
import sys
sys.path.append('/home/krzysiek/drivendata/drivendata_competitions/functions')
from eda_automations import *
from sklearn.model_selection import train_test_split
import random as r
pd.set_option('display.max_columns', None)

In [54]:
df = pd.read_csv('https://s3.amazonaws.com/drivendata/data/7/public/4910797b-ee55-40a7-8668-10efd5c1b960.csv')

In [55]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [56]:
labels_data = pd.read_csv('https://github.com/KCristopher/drivendata_competitions/raw/main/data/training_set_labels.csv')

In [57]:
labels_data.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

The data contains the info about waterpoints in Tanzania. Each observations correspond to some waterpoint and is described in terms of the variables such as the height at which the waterpoint is located, type of source of the water (for example rain or spring) or the institution which built the well.

We hope that we would be able to discern which waterponits are functional, which are not, and which needs to be repaired by examining the levels of all these different variables.

In [58]:
labels_data.index = labels_data['id']
del labels_data['id']

In [59]:
labels_data.head(3)

      status_group
id
69572   functional
8776    functional
34310   functional

In [60]:
y = labels_data.copy()
X = df.copy()

Splitting the data into training and testing sets :

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

# Exploring training data

<center>Checking the general structure of the data, data types and  missing values :</center>

In [62]:
summarize_df(X_train)

Glance at the data :

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
3607,454,50.0,2013-02-27,Dmdd,2092,DMDD,35.426020,-4.227446,Narmo,0,Internal,Bashnet Kati,Manyara,21,1,Babati,Bashinet,160,True,GeoData Consultants Ltd,Water Board,NaN,True,1998,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
50870,510,0.0,2011-03-17,Cmsr,0,Gove,35.510074,-5.724555,Lukali,0,Internal,Lukali,Dodoma,1,6,Bahi,Lamaiti,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
20413,14146,0.0,2011-07-10,Kkkt,0,KKKT,32.499866,-9.081222,Mahakama,0,Lake Rukwa,Chawalikozi,Mbeya,12,6,Mbozi,Ndalambo,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,other,other,other,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,other,other
52806,47410,0.0,2011-04-12,NaN,0,NaN,34.060484,-8.830208,Shule Ya Msingi Chosi A,0,Rufiji,Shuleni,Mbeya,12,7,Mbarali,Chimala,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,insufficient,insufficient,river,river/lake,surface,communal standpipe,communal standpipe
50091,1288,300.0,2011-04-05,Ki,1023,Ki,37.032690,-6.040787,Kwa Mjowe,0,Wami / Ruvu,Ngholong,Morogoro,5,1,Kilosa,Chakwale,120,True,GeoData Consultants Ltd,VWC,NaN,True,1997,other,other,other,vwc,user-group,pay when scheme fails,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,other,other

Data types, dimension of the data :

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47520 entries, 3607 to 56422
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     47520 non-null  int64
 1   amount_tsh             47520 non-null  float64
 2   date_recorded          47520 non-null  object
 3   funder                 44644 non-null  object
 4   gps_height             47520 non-null  int64
 5   installer              44631 non-null  object
 6   longitude              47520 non-null  float64
 7   latitude               47520 non-null  float64
 8   wpt_name               47520 non-null  object
 9   num_private            47520 non-null  int64
 10  basin                  47520 non-null  object
 11  subvillage             47224 non-null  object
 12  region                 47520 non-null  object
 13  region_code            47520 non-null  int64
 14  district_code          47520 non-null  int64
 15  lga                    47520 non-null  object
 16  ward                   47520 non-null  object
 17  population             47520 non-null  int64
 18  public_meeting         44831 non-null  object
 19  recorded_by            47520 non-null  object
 20  scheme_management      44418 non-null  object
 21  scheme_name            24997 non-null  object
 22  permit                 45081 non-null  object
 23  construction_year      47520 non-null  int64
 24  extraction_type        47520 non-null  object
 25  extraction_type_group  47520 non-null  object
 26  extraction_type_class  47520 non-null  object
 27  management             47520 non-null  object
 28  management_group       47520 non-null  object
 29  payment                47520 non-null  object
 30  payment_type           47520 non-null  object
 31  water_quality          47520 non-null  object
 32  quality_group          47520 non-null  object
 33  quantity               47520 non-null  object
 34  quantity_group         47520 non-null  object
 35  source                 47520 non-null  object
 36  source_type            47520 non-null  object
 37  source_class           47520 non-null  object
 38  waterpoint_type        47520 non-null  object
 39  waterpoint_type_group  47520 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 14.9+ MB

None

Missing values across variables :

scheme_name              22523
scheme_management         3102
installer                 2889
funder                    2876
public_meeting            2689
permit                    2439
subvillage                 296
management_group             0
waterpoint_type              0
extraction_type              0
extraction_type_group        0
source_class                 0
extraction_type_class        0
management                   0
source_type                  0
source                       0
payment_type                 0
water_quality                0
construction_year            0
quality_group                0
quantity                     0
quantity_group               0
payment                      0
id                           0
amount_tsh                   0
recorded_by                  0
population                   0
ward                         0
lga                          0
district_code                0
region_code                  0
region                       0
basin                        0
num_private                  0
wpt_name                     0
latitude                     0
longitude                    0
gps_height                   0
date_recorded                0
waterpoint_type_group        0
dtype: int64

Missing values - % of the data :

scheme_name              47.40
scheme_management         6.53
installer                 6.08
funder                    6.05
public_meeting            5.66
permit                    5.13
subvillage                0.62
management_group          0.00
waterpoint_type           0.00
extraction_type           0.00
extraction_type_group     0.00
source_class              0.00
extraction_type_class     0.00
management                0.00
source_type               0.00
source                    0.00
payment_type              0.00
water_quality             0.00
construction_year         0.00
quality_group             0.00
quantity                  0.00
quantity_group            0.00
payment                   0.00
id                        0.00
amount_tsh                0.00
recorded_by               0.00
population                0.00
ward                      0.00
lga                       0.00
district_code             0.00
region_code               0.00
region                    0.00
basin                     0.00
num_private               0.00
wpt_name                  0.00
latitude                  0.00
longitude                 0.00
gps_height                0.00
date_recorded             0.00
waterpoint_type_group     0.00
dtype: float64

In [63]:
codes = [c for c in X_train.columns if 'code' in c]
codes

['region_code', 'district_code']

<center>Getting numeric summaries of the data</center>

In [64]:
summarize_numeric_data(X_train, exclude = ['id'] + codes)

The correlation between the variables in the dataset :

,amount_tsh,gps_height,longitude,latitude,num_private,population,construction_year
amount_tsh,1.00,0.07,0.02,-0.05,0.00,0.01,0.06
gps_height,0.07,1.00,0.15,-0.04,0.01,0.13,0.66
longitude,0.02,0.15,1.00,-0.43,0.02,0.09,0.40
latitude,-0.05,-0.04,-0.43,1.00,0.01,-0.02,-0.25
num_private,0.00,0.01,0.02,0.01,1.00,0.00,0.03
population,0.01,0.13,0.09,-0.02,0.00,1.00,0.26
construction_year,0.06,0.66,0.40,-0.25,0.03,0.26,1.00

Descriptive statistics of numeric data :

,amount_tsh,gps_height,longitude,latitude,num_private,population,construction_year
count,47520.00,47520.00,47520.00,47520.00,47520.00,47520.00,47520.00
mean,322.05,668.75,34.09,-5.71,0.50,179.53,1303.35
std,3200.62,692.97,6.54,2.94,13.25,472.77,950.76
min,0.00,-63.00,0.00,-11.65,0.00,0.00,0.00
25%,0.00,0.00,33.08,-8.53,0.00,0.00,0.00
50%,0.00,370.00,34.91,-5.02,0.00,25.00,1986.00
75%,20.00,1320.00,37.18,-3.33,0.00,213.00,2004.00
max,350000.00,2770.00,40.35,-0.00,1776.00,30500.00,2013.00

In [65]:
look_at_variables_values(X_train)

Unique values from id, limited to 30

35563    17378
23497    40971
23268    15247
14844    36192
42261    55367
36343    59772
1530     46403
36879     9367
42623    30402
43791    45749
1548     48300
42067    21549
3687     65956
44990    62949
11840    66549
7566     10249
27423    38649
25994    36645
37765    23406
23144     3829
27603    28563
40658    51769
13774    10370
27352    70555
23342    56823
45641    19841
23930    66685
47165    43837
36912     4993
34338    51600
dtype: int64


Unique values from amount_tsh, limited to 30

66    350000.00
52      7000.00
7         30.00
72         0.20
16        15.00
18         5.00
57     70000.00
32       750.00
69     45000.00
13      1500.00
2        300.00
93         0.25
46        70.00
58     50000.00
28       450.00
75     60000.00
27      8500.00
95      1400.00
5        250.00
0         50.00
64      6300.00
54      7500.00
83     13000.00
68         9.00
94        59.00
23      2500.00
48      3500.00
44     20000.00
39     15000.00
60    200000.00
dtype: float64


Unique values from date_recorded, limited to 30

236    2012-10-22
39     2012-10-08
125    2013-02-09
17     2012-10-29
124    2013-03-17
175    2011-07-28
88     2011-07-06
230    2011-08-18
76     2011-09-04
239    2011-11-04
294    2011-05-03
92     2012-11-01
102    2011-08-10
161    2013-03-20
29     2012-10-12
308    2011-05-04
343    2011-09-05
264    2013-03-28
287    2011-07-03
67     2013-03-23
314    2011-09-09
266    2011-12-07
299    2011-08-20
225    2012-10-11
143    2011-07-30
46     2012-10-07
128    2011-02-27
86     2013-03-08
295    2011-09-08
77     2011-08-12
dtype: object


Unique values from funder, limited to 30

1474            Issa Mohamedi Tumwanga
63                             Snv Ltd
973                              Vifaf
1356                           M And P
719             Tcrs/village Community
214     Domestic Rural Development Pro
103                Roman Cathoric-same
1326                Asgerali N Bharwan
1121                      Maajabu Pima
1533                      Mgaya Masese
667                        Isingiro Ho
699                     Stephano Paulo
1336                      Busoga Trust
158                    Anglican Church
10                              Danida
1071                  Egypt Government
1321                            Birage
1558          Eung Am Methodist Church
313           Engineers Without Border
406                         Kadres Ngo
418                               Fpct
284                             Tacare
208                             Kassim
126                    Rc Church/centr
576                              Kaaya
1632             Shelisheli Commission
1520           Internal Drainage Basin
455                             Tuwasa
187                        Unicef/cspd
1611                     Tina/africare
dtype: object


Unique values from gps_height, limited to 30

1698    1226
1695     394
1185     896
1297      20
236     1335
850     1015
661     1336
1476     181
1622     204
1760    1857
1691    2046
186     1732
1993     791
1531    1065
241     1153
2006    1865
1239      59
996     1961
1911     404
911     1661
1409     707
1932     894
1207     412
866     1810
1995    1934
1923      55
2068     548
834      759
860     1179
1828    2262
dtype: int64


Unique values from installer, limited to 30

859                local technician
1041                          Prima
1484                   TANGA CEMENT
1190              Water users Group
939                              Di
1511                       Resolute
1255                         VICKFI
274                         SHAWASA
1058                        KASHERE
83                              ISF
578                          Atisan
1758                   KILANGANI CO
1761                          Schoo
1015                           SIDA
574                  TUKWALE ENTERP
552                          LION'S
1903                        Samsoni
1214                       Africa M
1436                       Mh.chiza
440                       VILLAGERS
623                             BGM
1695                    Lion's club
687                             WUA
651              Halmashauri wilaya
402           MTUWASA and Community
461                         Makonde
1610                     stansilaus
603     KARUMBA BIULDING CONTRACTOR
358                          COCANE
1604           St Elizabeth Majengo
dtype: object


Unique values from longitude, limited to 30

37444    32.828199
7441     29.841407
29726    34.992060
29601    29.811945
23019    32.848675
1980     33.523773
33668    33.181246
25765    39.415315
14850    36.038265
40149    35.843748
10596    39.466566
35058    33.006275
42554    39.308076
42145    34.615095
6912     35.634195
40668    30.482392
16987    36.624293
7841     35.007974
14272    33.886654
4665     33.853644
42860    30.502913
1633     37.776687
2722     39.777914
43084    38.241735
7290     38.769460
15006    31.525818
37025    39.092996
29026    38.039470
9174     31.601016
10867    39.938649
dtype: float64


Unique values from latitude, limited to 30

15474    -1.791472
5967     -1.615796
30404   -10.286690
8730     -8.753491
19964    -4.643646
35262    -6.358837
8207     -8.343347
37616    -3.118772
34508    -8.804442
42710    -4.378451
25423    -2.876355
33937    -6.158825
350      -3.194553
24972    -6.246186
28124    -2.778231
31674    -8.475562
11652    -3.164411
24717    -6.576638
42649    -2.477653
37066    -7.720878
7973     -6.615309
17073    -3.761861
13266    -4.732976
26546    -2.731721
26858    -8.735608
15683    -7.692044
34741    -8.808122
20485    -1.786942
39428    -3.695900
34165    -4.359759
dtype: float64


Unique values from wpt_name, limited to 30

28680                Kwa Chisaluni
16093                Regan Richard
30692            Kwa Mkongwa Ndalo
8441                        Getini
20258     Kwaruhombo Health Centre
4538               Yanza Secondary
7457     Kihangaiko Primary School
14743                      Kwa Feo
9818                          Baru
30022                    Kwamianju
4893            Kwa Vicent Raphael
20097                         Jini
4360           Kwa Scauti Mkandala
13761               Kwa Sangandala
29079                    Masindi A
1240                    Kwa Shauri
5400           Kwa Eliringia Lyimo
4014                      Madibira
15440                   Kwa Mbwesu
20895           Kwa Salome Philipo
8540                   Kwa Ngagaya
26261                   Kwa Pamila
14223                   Kwa Lyatuu
7593     Nyakariba Shule Ya Msingi
905                    Mwanginkele
5784            Kwa Fransi Rovetha
25213             Kwa Mzee Makungi
24612               Kwa Mzee Simon
6147        Kwa Sangilomo Muhelela
30411                Kilangawageni
dtype: object


Unique values from num_private, limited to 30

12       1
13       3
38     141
40    1402
20     755
27      25
46      58
36      93
14      17
50      62
1       47
22       2
18     102
7       20
3       65
0        0
49      42
8        6
26       7
37      22
54     672
55     698
28     111
53    1776
30      41
43     668
23      26
45      14
47      55
32      61
dtype: int64


Unique values from basin, limited to 30

4              Lake Victoria
7                 Lake Nyasa
8    Ruvuma / Southern Coast
5            Lake Tanganyika
0                   Internal
2                     Rufiji
1                 Lake Rukwa
3                Wami / Ruvu
6                    Pangani
dtype: object


Unique values from subvillage, limited to 30

7301                Kabuye
11238    Sibwesa Mashariki
8315              Lichinga
13202                Membe
7211               Aterere
12380             Matela B
14136               Bubuga
5315              Midilika
9902                Kyenge
9356             Msikiti A
9046          Isongwa Kati
5319              Komaogwe
5625              Kihela A
8991        Kiyaha Pachani
12631      Kiparang'Anda B
10553              Karafia
463              Kaskazini
11162            Mungumaho
16861              Mitwigu
5960                Isomya
10933              Bisinge
13063           Mwanyolobi
10097            Isebelo A
5599            Kinyanghaa
9782               Ilagaja
11774            Nyachanda
10620               Sangha
11156           Lovilikuny
8052                Barray
9734           Makongolosi
dtype: object


Unique values from region, limited to 30

10           Kagera
5         Shinyanga
12           Tabora
4            Mwanza
13            Rukwa
15           Ruvuma
0           Manyara
14            Pwani
16    Dar es Salaam
8            Iringa
11          Singida
19           Mtwara
7             Tanga
18            Lindi
17      Kilimanjaro
1            Dodoma
20             Mara
3          Morogoro
6            Kigoma
9            Arusha
2             Mbeya
dtype: object


Unique values from region_code, limited to 30

7      4
17     7
10    18
20    99
22    24
9      2
15     6
6     16
25    80
21    20
3      5
13    15
19     8
5     17
16    10
24     9
1      1
26    40
23    90
0     21
8     11
12    14
11    13
14    60
4     19
18     3
2     12
dtype: int64


Unique values from district_code, limited to 30

2      7
18     0
14    60
11    33
0      1
1      6
19    67
10    43
17    80
12    23
6      5
9     30
7      8
4      3
15    63
3      2
16    62
5      4
13    13
8     53
dtype: int64


Unique values from lga, limited to 30

25           Mpanda
32              Hai
104    Kigoma Urban
123     Lindi Urban
105            Uyui
77          Ruangwa
47             Same
35     Bukoba Rural
70             Siha
15         Chamwino
102      Biharamulo
81          Manyoni
109    Songea Urban
50       Ngorongoro
41     Mtwara Rural
103       Simanjiro
2             Mbozi
78           Kondoa
119        Nanyumbu
51           Karatu
61            Ngara
100         Monduli
38           Igunga
93     Bukoba Urban
73       Tandahimba
88            Kilwa
65           Kilolo
59           Mwanga
19            Nzega
7         Kilombero
dtype: object


Unique values from ward, limited to 30

1174                Masange
870                  Makote
1839                 Bwisya
1117             Buzilasoga
1665               Luhundwa
288                Isongole
159                 Lembeni
1119                Ruhanga
1422                  Ulemo
1845    Milingoti Mashariki
295                  Miteja
1682           Loibor Siret
1350                 Urambo
1866               Lukokoda
1797                Bugogwe
1981                 Kibaya
1031             Kiboriloni
792             Murutunguru
241               Kahangara
1960                Budushi
1329                 Mngoyo
1007                  Nkoko
713                Kirushya
1955                  Mindu
564                   Natta
1764                Matwiga
484                 Kigombe
489                 Bwawani
1287                  Ikuka
1013                Igurubi
dtype: object


Unique values from population, limited to 30

648     619
771     853
391    2700
65       25
529     427
728    1290
552     246
827     788
149     159
14       50
679     606
917     517
554     241
240     893
684     507
323     203
164    1700
342    8000
966    4900
696    2620
894     366
892    2992
86      765
131    2300
13        1
505    1205
153      55
465      28
622     644
111     358
dtype: int64


Unique values from public_meeting, limited to 30

0     True
1    False
2      NaN
dtype: object


Unique values from recorded_by, limited to 30

0    GeoData Consultants Ltd
dtype: object


Unique values from scheme_management, limited to 30

10               Other
2                  WUG
12                None
8     Private operator
6                  SWC
3                  NaN
11               Trust
5           Parastatal
7                  WUA
0          Water Board
9              Company
4      Water authority
1                  VWC
dtype: object


Unique values from scheme_name, limited to 30

617                    mtikanga supply scheme
1373                                   Wiyamb
2225                                 BL Munge
1556                                     Maku
1790                   water supply in Mwanza
1183                           Lutende Scheme
576                                    Matamb
706                        EKTM 2 water suply
1248                                  UWAMAMA
1368                       Mazinde ngua water
286                                    Mawamb
2255    Tanzania Egypt Technical Co Operation
1991                      Lake Victoria basin
1021                             14 Kambarage
2479                      Mfinga Water Supply
1421                        Misigyo pipelines
1604                     Mazinde water supply
2226                                  Kisogwe
778                         Sale water scheme
1410                                     Mzul
1729                      Maweni water supply
453                                      Mpen
877                  Kitumbeine water project
19                                      SHIPO
2531                     Namambi water supply
466               Itipingi gravity water sche
871            Naluwale/Mkwajuni Water Supply
1277                              Pipe scheme
1810                                  Samsria
1411               Huru materuni water supply
dtype: object


Unique values from permit, limited to 30

2      NaN
1    False
0     True
dtype: object


Unique values from construction_year, limited to 30

15    2000
9     2003
1        0
16    2011
12    1992
37    1980
6     2012
0     1998
5     2004
31    1996
20    1990
21    2002
24    1978
38    1991
30    1965
36    2005
22    2006
34    1976
33    1982
25    1960
32    1964
18    1984
46    1981
27    1989
8     1985
54    1966
44    1983
49    1963
2     1997
19    2007
dtype: int64


Unique values from extraction_type, limited to 30

3                   nira/tanira
13                       climax
0                       gravity
17    other - mkulima/shinyanga
5                          mono
11               other - swn 81
15                         cemo
6                   submersible
14               india mark iii
10            other - rope pump
1                 india mark ii
9                      windmill
12            other - play pump
2                         other
16                       walimi
8                           ksb
4                        swn 80
7                       afridev
dtype: object


Unique values from extraction_type_group, limited to 30

4              swn 80
3         nira/tanira
9           rope pump
5                mono
2               other
8        wind-powered
12     india mark iii
0             gravity
6         submersible
1       india mark ii
7             afridev
11    other motorpump
10     other handpump
dtype: object


Unique values from extraction_type_class, limited to 30

6       rope pump
5    wind-powered
0         gravity
1        handpump
2           other
3       motorpump
4     submersible
dtype: object


Unique values from management, limited to 30

6                  wua
5       other - school
10     water authority
9                other
2                  wug
7              unknown
1                  vwc
3     private operator
8              company
11               trust
0          water board
4           parastatal
dtype: object


Unique values from management_group, limited to 30

2    parastatal
3         other
1    commercial
0    user-group
4       unknown
dtype: object


Unique values from payment, limited to 30

0           pay per bucket
6                  unknown
1                never pay
4                    other
3    pay when scheme fails
5             pay annually
2              pay monthly
dtype: object


Unique values from payment_type, limited to 30

2       monthly
6       unknown
0    per bucket
5      annually
1     never pay
3    on failure
4         other
dtype: object


Unique values from water_quality, limited to 30

2               unknown
5                 milky
7    fluoride abandoned
4              fluoride
1                 salty
0                  soft
3              coloured
6       salty abandoned
dtype: object


Unique values from quality_group, limited to 30

1       salty
4    fluoride
0        good
3     colored
5       milky
2     unknown
dtype: object


Unique values from quantity, limited to 30

4         unknown
3             dry
2        seasonal
0    insufficient
1          enough
dtype: object


Unique values from quantity_group, limited to 30

0    insufficient
2        seasonal
3             dry
4         unknown
1          enough
dtype: object


Unique values from source, limited to 30

8                   other
5                     dam
4                hand dtw
2                   river
6    rainwater harvesting
9                 unknown
7                    lake
1            shallow well
0                  spring
3             machine dbh
dtype: object


Unique values from source_type, limited to 30

0                  spring
1            shallow well
6                   other
2              river/lake
5    rainwater harvesting
4                     dam
3                borehole
dtype: object


Unique values from source_class, limited to 30

0    groundwater
1        surface
2        unknown
dtype: object


Unique values from waterpoint_type, limited to 30

2                          other
0             communal standpipe
5                  cattle trough
4                improved spring
3    communal standpipe multiple
6                            dam
1                      hand pump
dtype: object


Unique values from waterpoint_type_group, limited to 30

5                   dam
0    communal standpipe
2                 other
1             hand pump
3       improved spring
4         cattle trough
dtype: object

We can see that there is one entry of 0 in the column construction_year.

In [66]:
X_train[X_train.construction_year == 0].shape

(16503, 40)

In [67]:
X_train.columns.tolist()

['id',
 'amount_tsh',
 'date_recorded',
 'funder',
 'gps_height',
 'installer',
 'longitude',
 'latitude',
 'wpt_name',
 'num_private',
 'basin',
 'subvillage',
 'region',
 'region_code',
 'district_code',
 'lga',
 'ward',
 'population',
 'public_meeting',
 'recorded_by',
 'scheme_management',
 'scheme_name',
 'permit',
 'construction_year',
 'extraction_type',
 'extraction_type_group',
 'extraction_type_class',
 'management',
 'management_group',
 'payment',
 'payment_type',
 'water_quality',
 'quality_group',
 'quantity',
 'quantity_group',
 'source',
 'source_type',
 'source_class',
 'waterpoint_type',
 'waterpoint_type_group']

In [68]:
cols_subset = ['ward',
 'population',
 'public_meeting',
 'recorded_by',
 'scheme_management',
 'scheme_name',
 'permit',
 'construction_year',
 'extraction_type',
 'extraction_type_group',
 'extraction_type_class',
 'management',
 'management_group',
 'payment',
 'payment_type',
 'water_quality']

In [69]:
X_train[X_train.construction_year == 0][cols_subset].sample(n = 100).head(50)

,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality
7871,Utengule Usongwe,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,wug,user-group,pay when scheme fails,on failure,soft
36665,Mwantini,0,False,GeoData Consultants Ltd,Parastatal,NaN,True,0,other,other,other,parastatal,parastatal,never pay,never pay,soft
12363,Usagara,0,False,GeoData Consultants Ltd,VWC,NaN,True,0,other,other,other,vwc,user-group,never pay,never pay,soft
42705,Lufilyo,0,True,GeoData Consultants Ltd,Parastatal,K,NaN,0,gravity,gravity,gravity,parastatal,parastatal,unknown,unknown,soft
20760,Mwaniko,0,NaN,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft
16184,Mwananyili,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,mono,mono,motorpump,vwc,user-group,never pay,never pay,soft
41059,Kilago,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,unknown,unknown,milky
39461,Upuge,0,True,GeoData Consultants Ltd,VWC,Upuge water supply,True,0,mono,mono,motorpump,vwc,user-group,never pay,never pay,soft
25157,Bugarama,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,unknown,unknown,milky
6627,Kalebezo,0,True,GeoData Consultants Ltd,Water Board,LumeyaKalebezoNyehunge water project,True,0,mono,mono,motorpump,water board,user-group,never pay,never pay,soft
26240,Bulyakashaju,0,True,GeoData Consultants Ltd,VWC,B,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
2170,Zongomera,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,other,other,other,wug,user-group,unknown,unknown,milky
1959,Mwamabanza,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft
21724,Kharumwa,0,True,GeoData Consultants Ltd,VWC,Nyamtukuza,True,0,ksb,submersible,submersible,vwc,user-group,unknown,unknown,unknown
30677,Nkololo,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,soft
16602,Iwindi,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,wug,user-group,pay when scheme fails,on failure,soft
39019,Lupata,0,True,GeoData Consultants Ltd,VWC,K,NaN,0,gravity,gravity,gravity,vwc,user-group,unknown,unknown,soft
3546,Ikondo,0,True,GeoData Consultants Ltd,VWC,N,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
14862,Didia,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,other - swn 81,other handpump,handpump,vwc,user-group,never pay,never pay,soft
1782,Simbo,0,True,GeoData Consultants Ltd,Private operator,ADP Simbo,False,0,nira/tanira,nira/tanira,handpump,private operator,commercial,never pay,never pay,salty
19141,Rujewa,0,False,GeoData Consultants Ltd,Water Board,NaN,True,0,gravity,gravity,gravity,water board,user-group,never pay,never pay,coloured
21150,Bugomora,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft
45701,Usagara,0,False,GeoData Consultants Ltd,VWC,NaN,True,0,other,other,other,vwc,user-group,never pay,never pay,soft
41679,Dakama,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,other,other,soft
4533,Katoro,0,True,GeoData Consultants Ltd,VWC,Katoro,True,0,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft
32298,Msangano,0,False,GeoData Consultants Ltd,VWC,NaN,False,0,india mark ii,india mark ii,handpump,vwc,user-group,pay when scheme fails,on failure,soft
31651,Mabama,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,afridev,afridev,handpump,vwc,user-group,never pay,never pay,soft
8160,Nyabusozi,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,pay monthly,monthly,milky
53190,Rusumo,0,True,GeoData Consultants Ltd,WUG,Nyakabila spring source,False,0,gravity,gravity,gravity,wug,user-group,pay per bucket,per bucket,soft
30904,Ufuluma,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,afridev,afridev,handpump,vwc,user-group,never pay,never pay,soft
45888,Bujashi,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,swn 80,swn 80,handpump,vwc,user-group,never pay,never pay,soft
47561,Kibengu,0,True,GeoData Consultants Ltd,VWC,Kib,True,0,ksb,submersible,submersible,vwc,user-group,pay annually,annually,soft
26400,Usisya,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,pay when scheme fails,on failure,soft
15173,Badi,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,soft
51548,Nzuguni,0,True,GeoData Consultants Ltd,VWC,Nzug,False,0,mono,mono,motorpump,vwc,user-group,pay per bucket,per bucket,soft
41778,Igalula,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
4366,Chemchem,0,False,GeoData Consultants Ltd,Other,Mradi wa maji wa chemchem,True,0,other,other,other,other,other,pay per bucket,per bucket,soft
28310,Nyamilama,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft
40475,Ibugule,0,True,GeoData Consultants Ltd,VWC,Ibug,True,0,mono,mono,motorpump,vwc,user-group,pay per bucket,per bucket,soft
23261,Isingiro,0,True,GeoData Consultants Ltd,WUG,Kaisho/Isingiro w,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft
46387,Lusungo,0,True,GeoData Consultants Ltd,VWC,Ngamanga water supplied sch,True,0,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft
39562,Katerero,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,unknown
41106,Somanda,0,False,GeoData Consultants Ltd,WUG,NaN,False,0,other,other,other,wug,user-group,never pay,never pay,soft
2158,Kolandoto,0,NaN,GeoData Consultants Ltd,Parastatal,NaN,False,0,other - rope pump,rope pump,rope pump,parastatal,parastatal,unknown,unknown,soft
16253,Mpalanga,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft
2406,Ishunju,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,other,other,other,vwc,user-group,never pay,never pay,soft
54597,Ngaya,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,swn 80,swn 80,handpump,wug,user-group,unknown,unknown,milky
31527,Nyaishozi,0,True,GeoData Consultants Ltd,WUA,Lukare water supp,True,0,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft
53382,Nyandekwa,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,other,other,other,wug,user-group,unknown,unknown,milky
48631,Kisuke,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,swn 80,swn 80,handpump,wug,user-group,unknown,unknown,soft

In [70]:
def count_values(df, value):
    """
    Returns a pandas DataFrame with the names of the original features in the index and the number of
    occurrences of the value as the values of the first column and the same as the percentage of all
    observations in the second column.

    If the passed value is boolean, compares with boolean values in the DataFrame. If the passed value
    is a string, compares with object (string) values in the DataFrame. Otherwise, only compares with
    values of the same data type.

    Parameters:
    -----------
    df: pandas DataFrame.

    value : str / int / float / bool.
        The value to be counted.

    Returns:
    --------
    pandas DataFrame.
    """

    if isinstance(value, bool):
        value_mask = df.apply(lambda x: isinstance(x[0], bool), axis=0)
    elif isinstance(value, str):
        value_mask = df.dtypes == 'object'
    elif isinstance(value, int):
        value_mask = df.dtypes == 'int64'
    elif isinstance(value, float):
        value_mask = df.dtypes == 'float64'
    else:
        raise TypeError("Input value must be of type bool, str, int, or float.")

    count_series = df.loc[:, value_mask].eq(value).sum().sort_values(ascending=False)
    percent_series = count_series / len(df) * 100
    percent_series = percent_series.round(1)

    data = {
        f"Count of {value}": count_series,
        f"{value}'s as % of Total": percent_series
    }
    result_df = pd.DataFrame(data)
    result_df.index.name = 'Feature'
    result_df.sort_values(by=f"Count of {value}", ascending=False, inplace=True)

    return result_df[result_df['Count of {}'.format(value)] > 0]

In [71]:
X_train[['permit', 'scheme_management']]

      permit scheme_management
3607    True       Water Board
50870   True               VWC
20413  False               VWC
52806   True               VWC
50091   True               VWC
...      ...               ...
54343   True       Water Board
38158  False               VWC
860    False  Private operator
15795   True               WUG
56422   True           Company

[47520 rows x 2 columns]

<center>Examining potentially not obvious missing values</center>

In [72]:
count_values(df = X_train, value = 0)

                   Count of 0  0's as % of Total
Feature
num_private             46903               98.7
population              17048               35.9
construction_year       16503               34.7
gps_height              16275               34.2
district_code              19                0.0
id                          1                0.0

In [73]:
X_train.num_private.value_counts(normalize = True).round(3).head(3)

0    0.987
6    0.001
1    0.001
Name: num_private, dtype: float64

In [74]:
X_train[X_train.num_private == 0].sample(n = 10)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
45674,33627,0.0,2013-01-28,Tasaf,356,TASAF,38.361339,-9.419367e+00,Mkuyuni,0,Ruvuma / Southern Coast,Nalungombe,Lindi,80,43,Liwale,Kimambi,350,NaN,GeoData Consultants Ltd,VWC,NaN,True,2007,india mark ii,india mark ii,handpump,vwc,user-group,unknown,unknown,salty,salty,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
12470,62496,20.0,2013-03-25,Magadini-makiwaru Water,1353,Magadini-Makiwaru wa,37.042011,-3.173119e+00,Kwa Edward Mushi,0,Pangani,Kilingi,Kilimanjaro,3,7,Siha,Siha Kati,1,True,GeoData Consultants Ltd,Water Board,BL Sanya Hoi,True,2001,gravity,gravity,gravity,water board,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
16332,18680,500.0,2013-02-14,Women For Partnership,1712,District Council,37.927210,-4.411243e+00,Hemkisinga,0,Pangani,Mturo,Kilimanjaro,3,3,Same,Bwambo,156,True,GeoData Consultants Ltd,VWC,Mwembe Water Supply,True,2012,gravity,gravity,gravity,vwc,user-group,pay when scheme fails,on failure,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
5108,12992,0.0,2011-07-12,Jica,0,DWE,31.176976,-1.813252e+00,Kwaemmanueli,0,Lake Victoria,Omukimeya,Kagera,18,1,Karagwe,Rugu,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
40011,71798,0.0,2011-07-27,Hesawa,0,Hesawa,0.000000,-2.000000e-08,Bombani,0,Lake Victoria,Mwamatumba,Mwanza,19,6,Geita,Lubanga,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,other,other,other,vwc,user-group,unknown,unknown,unknown,unknown,dry,dry,shallow well,shallow well,groundwater,other,other
58402,46642,0.0,2011-07-30,Ka,0,KA,31.568437,-1.714923e+00,Kwa Clemence,0,Lake Victoria,Kayoro,Kagera,18,3,Muleba,Kishanda,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
35022,71910,0.0,2013-01-22,Mdrdp,1693,MDRDP,35.556430,-3.805739e+00,Kwa Joseph Geheri,0,Internal,Ants B,Manyara,21,3,Mbulu,Bargish,350,NaN,GeoData Consultants Ltd,WUG,NaN,True,2004,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
8720,69090,20.0,2013-02-18,Jaica,-6,Jaica,40.167112,-1.065451e+01,Tanita,0,Ruvuma / Southern Coast,Tanita,Mtwara,99,1,Mtwara Rural,Kitaya,200,True,GeoData Consultants Ltd,NaN,NaN,True,2006,india mark ii,india mark ii,handpump,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
2486,469,25.0,2011-03-07,Donor,290,Do,38.238568,-6.179919e+00,Kwasungwini,0,Wami / Ruvu,Kwedigongo,Pwani,6,1,Bagamoyo,Mbwewe,2300,True,GeoData Consultants Ltd,VWC,NaN,False,2010,india mark ii,india mark ii,handpump,vwc,user-group,pay per bucket,per bucket,salty,salty,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
34326,64842,500.0,2011-07-07,European Union,1786,Accra,34.822766,-9.041447e+00,Kwa Andreasi Mtivike,0,Rufiji,Lunguya,Iringa,11,4,Njombe,Mtwango,95,True,GeoData Consultants Ltd,WUG,Mtwango water supplied sche,True,2011,gravity,gravity,gravity,wug,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

Regardless whether num_private, for which description is not available, can really be 0 or it is a missing value, we can safely remove it, because the feature which has the same value in 99 % of cases wouldn't be very useful anyway. There is a big chance that t is a missing value, too.

In [75]:
del X_train['num_private']

In [76]:
X_train.head(2)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
3607,454,50.0,2013-02-27,Dmdd,2092,DMDD,35.426020,-4.227446,Narmo,Internal,Bashnet Kati,Manyara,21,1,Babati,Bashinet,160,True,GeoData Consultants Ltd,Water Board,NaN,True,1998,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
50870,510,0.0,2011-03-17,Cmsr,0,Gove,35.510074,-5.724555,Lukali,Internal,Lukali,Dodoma,1,6,Bahi,Lamaiti,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [77]:
count_values(df = X_train, value = '-')

           Count of -  -'s as % of Total
Feature
installer           3                0.0

In [78]:
X_train[X_train.installer == '-']

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
10217,42616,0.0,2011-08-03,Kalebejo Parish,0,-,32.356645,-2.499427,Kalebejo Parish,Lake Victoria,Nyang'Ombe,Mwanza,19,5,Sengerema,Kalebezo,0,NaN,GeoData Consultants Ltd,Private operator,None,True,0,swn 80,swn 80,handpump,private operator,commercial,never pay,never pay,salty abandoned,salty,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
25769,21336,0.0,2011-07-26,Government Of Tanzania,0,-,32.674665,-2.506721,Health Center,Lake Victoria,Katungulu Center,Mwanza,19,5,Sengerema,Katunguru,0,True,GeoData Consultants Ltd,VWC,water supply in katungulu,True,0,other,other,other,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,lake,river/lake,surface,communal standpipe,communal standpipe
20968,10873,0.0,2011-07-26,Government Of Tanzania,0,-,32.677150,-2.508912,Kwa Madebele,Lake Victoria,Katungulu Center,Mwanza,19,5,Sengerema,Katunguru,0,True,GeoData Consultants Ltd,VWC,water supply Katungulu,True,0,other,other,other,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,lake,river/lake,surface,communal standpipe,communal standpipe

hyphens ('-') must represent NaNs.

In [79]:
X_train.loc[ : , 'installer'] = X_train['installer'].apply(lambda x : np.nan if x == '-' else x)

/tmp/ipykernel_1150/403331154.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train.loc[ : , 'installer'] = X_train['installer'].apply(lambda x : np.nan if x == '-' else x)

In [80]:
X_train[X_train.installer == '-']

Empty DataFrame
Columns: [id, amount_tsh, date_recorded, funder, gps_height, installer, longitude, latitude, wpt_name, basin, subvillage, region, region_code, district_code, lga, ward, population, public_meeting, recorded_by, scheme_management, scheme_name, permit, construction_year, extraction_type, extraction_type_group, extraction_type_class, management, management_group, payment, payment_type, water_quality, quality_group, quantity, quantity_group, source, source_type, source_class, waterpoint_type, waterpoint_type_group]
Index: []

In [81]:
X_train.shape

(47520, 39)

In [82]:
X_train[X_train.population == 0]

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
50870,510,0.0,2011-03-17,Cmsr,0,Gove,35.510074,-5.724555,Lukali,Internal,Lukali,Dodoma,1,6,Bahi,Lamaiti,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
20413,14146,0.0,2011-07-10,Kkkt,0,KKKT,32.499866,-9.081222,Mahakama,Lake Rukwa,Chawalikozi,Mbeya,12,6,Mbozi,Ndalambo,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,other,other,other,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,other,other
52806,47410,0.0,2011-04-12,NaN,0,NaN,34.060484,-8.830208,Shule Ya Msingi Chosi A,Rufiji,Shuleni,Mbeya,12,7,Mbarali,Chimala,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,insufficient,insufficient,river,river/lake,surface,communal standpipe,communal standpipe
16521,13095,0.0,2011-08-08,Hesawa,0,DWE,33.509112,-2.648505,Kwa Mudaba,Lake Victoria,Lumeji,Mwanza,19,2,Magu,Sukuma,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
52225,558,0.0,2013-03-01,World Vision,0,World vision,33.731347,-3.284633,Mwamagulya,Internal,Ngomeni,Shinyanga,17,2,Maswa,Busilili,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,other,other,soft,good,seasonal,seasonal,shallow well,shallow well,groundwater,hand pump,hand pump
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41090,50530,0.0,2011-03-24,World Bank,0,Inter,36.644403,-6.249858,Kwa John Makago,Wami / Ruvu,NaN,Dodoma,1,3,Kongwa,Iduo,0,True,GeoData Consultants Ltd,VWC,Iduo,False,0,submersible,submersible,submersible,vwc,user-group,pay per bucket,per bucket,salty,salty,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
44131,5457,0.0,2011-03-14,Bsf,0,DWE,35.238399,-5.172737,Machineni,Internal,Kilimba B,Dodoma,1,1,Kondoa,Ovada,0,True,GeoData Consultants Ltd,VWC,Ovad,False,0,cemo,other motorpump,motorpump,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,machine dbh,borehole,groundwater,communal standpipe,communal standpipe
37194,73111,0.0,2011-02-26,Kkkt,1922,Commu,34.230959,-9.369277,none,Lake Nyasa,Ikonda Bo,Iringa,11,3,Makete,Lupalilo,0,True,GeoData Consultants Ltd,VWC,Ikonda,False,2000,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
6265,47858,0.0,2011-03-10,Bsf,0,Gove,35.547568,-6.336433,Mnadan,Internal,Kikuyu,Dodoma,1,6,Bahi,Ibugule,0,True,GeoData Consultants Ltd,VWC,Nkho,True,0,mono,mono,motorpump,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,machine dbh,borehole,groundwater,communal standpipe,communal standpipe
15795,49444,0.0,2012-10-31,Rwssp,0,WEDECO,34.316586,-3.107161,Muungano,Lake Victoria,Ijosho,Shinyanga,17,6,Meatu,Sakasaka,0,True,GeoData Consultants Ltd,WUG,None,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [83]:
X_train.loc[ : , 'exact_location'] = [(long, lat) for long, lat in zip(X_train.longitude, X_train.latitude)]

/tmp/ipykernel_1150/888980537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train.loc[ : , 'exact_location'] = [(long, lat) for long, lat in zip(X_train.longitude, X_train.latitude)]

In [84]:
X_train.sample(n = 1000).groupby('exact_location')['population'].unique()

exact_location
(0.0, -2e-08)                          [0]
(29.64824669, -4.79080435)           [500]
(29.65885566, -4.82362806)           [863]
(29.679249100000003, -4.75710463)    [300]
(29.69488, -4.74613666)              [855]
                                     ...
(39.78010514, -10.58139952)          [200]
(40.12213949, -10.21481169)          [200]
(40.19065133, -10.27330099)          [130]
(40.27985323, -10.53735322)          [300]
(40.30198716, -10.32095944)          [500]
Name: population, Length: 976, dtype: object

In [85]:
(X_train.sample(n = 1000).groupby('exact_location')['population'].nunique() == 1).all()

True

Out of 1000 random locations, each location with the same coordinates had the same population, which mean that there are no apparent isses whith the quality of population data.

In [86]:
del X_train['exact_location']

In [87]:
X_train.sample(n = 1000).groupby('subvillage')['population'].unique().head(60)

subvillage
Alosinoni                      [1]
Amani                          [0]
Ants A                       [459]
Anuru                        [135]
Arauyo                       [360]
Arusha                         [0]
Azimio                       [250]
Bagamoyo                  [210, 0]
Barabara                     [147]
Barabara 5                   [345]
Barabara 6                   [100]
Baranyota                    [300]
Batini                        [52]
Batini B                     [100]
Betania                        [1]
Binga Mjini                  [600]
Biyonza                        [0]
Bokara                      [2000]
Bomani                      [4000]
Bombamzinga                    [0]
Bombani                        [0]
Bomu                          [10]
Bramba                       [350]
Bubalaji                       [0]
Budula                         [0]
Buganda                        [0]
Bugengere                      [0]
Buguruni                     [300]
Buhaji                         [0]
Buhu                           [1]
Bujerere                       [0]
Bukalo                         [0]
Bukiruguru Kati                [0]
Bukujungu                      [0]
Bukumbulwa                     [0]
Bukwangu                       [0]
Bulale                         [0]
Bulige                         [0]
Bulongo                        [0]
Bumunyo                      [100]
Bunazi A                       [0]
Bureza                         [0]
Burunge                      [113]
Bushosha                       [0]
Butegwa                        [0]
Bwagala                        [0]
Bwala                          [0]
Bwama                          [1]
Bwawani                      [410]
Bwelu B                       [60]
Bwelu Kisagarani             [300]
Bweyunge                       [0]
Bwimbwi                       [60]
Bwisya                       [600]
Ccm                            [0]
Center              [350, 146, 50]
Cha Zahanati                 [350]
Chalinze Mzee A               [50]
Chamndindi Kati                [1]
Chamwandu                      [0]
Name: population, dtype: object

Population refers to population around the well, so we might have multiple values of population in a ward or even in subvillage. Browsing for sample villages with zero poplation in the Web we find that in fact they do have a population, which makes sense, since there is little incentive to build a well for some lone wanderers in uninhabited places..

In [88]:
X_train.loc[X_train.population == 0, 'population'] = np.nan

In [89]:
X_train.head(2)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
3607,454,50.0,2013-02-27,Dmdd,2092,DMDD,35.426020,-4.227446,Narmo,Internal,Bashnet Kati,Manyara,21,1,Babati,Bashinet,160.0,True,GeoData Consultants Ltd,Water Board,NaN,True,1998,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
50870,510,0.0,2011-03-17,Cmsr,0,Gove,35.510074,-5.724555,Lukali,Internal,Lukali,Dodoma,1,6,Bahi,Lamaiti,NaN,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [90]:
X_train.population.isnull().sum()

17048

In [91]:
X_train.head(2)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
3607,454,50.0,2013-02-27,Dmdd,2092,DMDD,35.426020,-4.227446,Narmo,Internal,Bashnet Kati,Manyara,21,1,Babati,Bashinet,160.0,True,GeoData Consultants Ltd,Water Board,NaN,True,1998,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
50870,510,0.0,2011-03-17,Cmsr,0,Gove,35.510074,-5.724555,Lukali,Internal,Lukali,Dodoma,1,6,Bahi,Lamaiti,NaN,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [92]:
X_train.isnull().sum().sort_values(ascending = False) / len(X_train)

scheme_name              22523
population               17048
scheme_management         3102
installer                 2892
funder                    2876
public_meeting            2689
permit                    2439
subvillage                 296
payment_type                 0
extraction_type_class        0
management                   0
management_group             0
payment                      0
quality_group                0
water_quality                0
extraction_type              0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
extraction_type_group        0
id                           0
construction_year            0
amount_tsh                   0
recorded_by                  0
ward                         0
lga                          0
district_code                0
region_code                  0
region                       0
basin                        0
wpt_name                     0
latitude                     0
longitude                    0
gps_height                   0
date_recorded                0
waterpoint_type_group        0
dtype: int64